[package]
name = "omicron-nexus"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[lints]
workspace = true

[build-dependencies]
omicron-rpaths.workspace = true

[dependencies]
anyhow.workspace = true
assert_matches.workspace = true
async-trait.workspace = true
base64.workspace = true
buf-list.workspace = true
bytes.workspace = true
cancel-safe-futures.workspace = true
camino.workspace = true
camino-tempfile.workspace = true
clap.workspace = true
chrono.workspace = true
clickhouse-admin-keeper-client.workspace = true
clickhouse-admin-server-client.workspace = true
clickhouse-admin-single-client.workspace = true
cockroach-admin-client.workspace = true
crucible-agent-client.workspace = true
crucible-pantry-client.workspace = true
crucible-common.workspace = true
dns-service-client.workspace = true
dpd-client.workspace = true
ereport-types.workspace = true
mg-admin-client.workspace = true
dropshot.workspace = true
fatfs.workspace = true
futures.workspace = true
gateway-client.workspace = true
gateway-types.workspace = true
headers.workspace = true
hex.workspace = true
hickory-resolver.workspace = true
hmac.workspace = true
http.workspace = true
http-body-util.workspace = true
hyper.workspace = true
hyper-staticfile.workspace = true
iddqd.workspace = true
id-map.workspace = true
illumos-utils.workspace = true
internal-dns-resolver.workspace = true
internal-dns-types.workspace = true
ipnetwork.workspace = true
itertools.workspace = true
lldpd_client.workspace = true
macaddr.workspace = true
maplit.workspace = true
nexus-background-task-interface.workspace = true
# Not under "dev-dependencies"; these also need to be implemented for
# integration tests.
nexus-config.workspace = true
nexus-external-api.workspace = true
nexus-internal-api.workspace = true
nexus-lockstep-api.workspace = true
nexus-mgs-updates.workspace = true
nexus-networking.workspace = true
nexus-saga-recovery.workspace = true
nexus-test-interface.workspace = true
ntp-admin-client.workspace = true
num-integer.workspace = true
omicron-cockroach-metrics.workspace = true
openssl.workspace = true
oximeter-client.workspace = true
oximeter-db = { workspace = true, default-features = false, features = [ "oxql" ] }
oxnet.workspace = true
oxql-types.workspace = true
parallel-task-set.workspace = true
parse-display.workspace = true
paste.workspace = true
# See omicron-rpaths for more about the "pq-sys" dependency.
pq-sys = "*"
progenitor-client.workspace = true
propolis-client.workspace = true
qorb.workspace = true
rand.workspace = true
range-requests.workspace = true
ref-cast.workspace = true
regex.workspace = true
reqwest = { workspace = true, features = ["json"] }
ring.workspace = true
samael.workspace = true
schemars = { workspace = true, features = ["chrono", "uuid1"] }
semver.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_urlencoded.workspace = true
serde_with.workspace = true
sha2.workspace = true
sled-agent-client.workspace = true
sled-agent-types.workspace = true
slog.workspace = true
slog-async.workspace = true
slog-dtrace.workspace = true
slog-error-chain.workspace = true
display-error-chain.workspace = true
slog-term.workspace = true
steno.workspace = true
tempfile.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["full"] }
tokio-postgres = { workspace = true, features = ["with-serde_json-1"] }
tokio-util = { workspace = true, features = ["codec", "rt"] }
tough.workspace = true
tufaceous-artifact.workspace = true
usdt.workspace = true
uuid.workspace = true

nexus-auth.workspace = true
nexus-defaults.workspace = true
nexus-db-lookup.workspace = true
nexus-db-model.workspace = true
nexus-db-queries.workspace = true
nexus-db-schema.workspace = true
nexus-inventory.workspace = true
nexus-metrics-producer-gc.workspace = true
nexus-reconfigurator-execution.workspace = true
nexus-reconfigurator-planning.workspace = true
nexus-reconfigurator-preparation.workspace = true
nexus-reconfigurator-rendezvous.workspace = true
nexus-sled-agent-shared.workspace = true
nexus-types.workspace = true
omicron-common.workspace = true
omicron-passwords.workspace = true
oxide-tokio-rt.workspace = true
oximeter.workspace = true
oximeter-instruments = { workspace = true, features = ["http-instruments"] }
oximeter-producer.workspace = true
raw-cpuid = { workspace = true, features = ["std"] }
rustls = { workspace = true }
rustls-pemfile = { workspace = true }
scim2-rs.workspace = true
update-common.workspace = true
update-engine.workspace = true
omicron-workspace-hack.workspace = true
omicron-uuid-kinds.workspace = true
zip.workspace = true

[dev-dependencies]
async-bb8-diesel.workspace = true
camino-tempfile.workspace = true
criterion.workspace = true
diesel.workspace = true
dns-server.workspace = true
expectorate.workspace = true
gateway-messages.workspace = true
gateway-test-utils.workspace = true
hickory-resolver.workspace = true
httpmock.workspace = true
httptest.workspace = true
hubtools.workspace = true
hyper-rustls.workspace = true
nexus-client.workspace = true
nexus-db-queries = { workspace = true, features = ["testing"] }
nexus-lockstep-client.workspace = true
nexus-test-utils.workspace = true
nexus-test-utils-macros.workspace = true
omicron-sled-agent.workspace = true
omicron-test-utils.workspace = true
openapi-lint.workspace = true
openapiv3.workspace = true
oxide-client.workspace = true
oximeter-collector.workspace = true
pem.workspace = true
petgraph.workspace = true
pretty_assertions.workspace = true
rcgen.workspace = true
regex.workspace = true
rustls.workspace = true
scim2-test-client.workspace = true
similar-asserts.workspace = true
sp-sim.workspace = true
strum.workspace = true
subprocess.workspace = true
term.workspace = true
tufaceous.workspace = true
tufaceous-artifact.workspace = true
tufaceous-lib.workspace = true

[[bench]]
name = "setup_benchmark"
harness = false

#
# Disable doc builds by default for our binaries to work around issue
# rust-lang/cargo#8373.  These docs would not be very useful anyway.
#
[[bin]]
name = "nexus"
doc = false
