[package]
name = "omicron-nexus"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[build-dependencies.omicron-rpaths]
path = "../rpaths"

[dependencies]
anyhow = "1.0"
async-bb8-diesel = { git = "https://github.com/oxidecomputer/async-bb8-diesel", rev = "7944dafc8a36dc6e20a1405eca59d04662de2bb7" }
async-trait = "0.1.56"
base64 = "0.13.0"
bb8 = "0.8.0"
clap = { version = "3.2", features = ["derive"] }
cookie = "0.16"
crucible-agent-client = { git = "https://github.com/oxidecomputer/crucible", rev = "bacffd142fc38a01fe255407b0c8d5d0aacfe778" }
diesel = { version = "2.0.0", features = ["postgres", "r2d2", "chrono", "serde_json", "network-address", "uuid"] }
diesel-dtrace = { git = "https://github.com/oxidecomputer/diesel-dtrace", rev = "18748d9f76c94e1f4400fbec0859b3e77a221a8d" }
fatfs = "0.3.5"
futures = "0.3.24"
headers = "0.3.8"
hex = "0.4.3"
http = "0.2.7"
hyper = "0.14"
internal-dns-client = { path = "../internal-dns-client" }
ipnetwork = "0.20"
lazy_static = "1.4.0"
libc = "0.2.132"
macaddr = { version = "1.0.1", features = [ "serde_std" ]}
mime_guess = "2.0.4"
newtype_derive = "0.1.6"
num-integer = "0.1.45"
# must match samael's crate!
openssl = "0.10"
openssl-sys = "0.9"
openssl-probe = "0.1.2"
oso = "0.26"
oximeter-client = { path = "../oximeter-client" }
oximeter-db = { path = "../oximeter/db/" }
parse-display = "0.6.0"
# See omicron-rpaths for more about the "pq-sys" dependency.
pq-sys = "*"
rand = "0.8.5"
ref-cast = "1.0"
reqwest = { version = "0.11.12", features = [ "json" ] }
ring = "0.16"
samael = { git = "https://github.com/njaremko/samael", features = ["xmlsec"], branch = "master" }
serde_json = "1.0"
serde_urlencoded = "0.7.1"
serde_with = "2.0.1"
sled-agent-client = { path = "../sled-agent-client" }
slog-dtrace = "0.2"
steno = "0.2"
tempfile = "3.3"
thiserror = "1.0"
toml = "0.5.9"
tough = { version = "0.12", features = [ "http" ] }
usdt = "0.3.1"

authz-macros = { path = "authz-macros" }
db-macros = { path = "db-macros" }
nexus-defaults = { path = "defaults" }
nexus-db-model = { path = "db-model" }
nexus-types = { path = "types" }

[dependencies.chrono]
version = "0.4"
features = [ "serde" ]

[dependencies.dropshot]
git = "https://github.com/oxidecomputer/dropshot"
branch = "main"
features = [ "usdt-probes" ]

[dependencies.omicron-common]
path = "../common"

[dependencies.oximeter]
version = "0.1.0"
path = "../oximeter/oximeter"

[dependencies.oximeter-instruments]
version = "0.1.0"
path = "../oximeter/instruments"
features = [ "http-instruments" ]

[dependencies.oximeter-producer]
version = "0.1.0"
path = "../oximeter/producer"

[dependencies.schemars]
version = "0.8.10"
features = [ "chrono", "uuid1" ]

[dependencies.serde]
version = "1.0"
features = [ "derive" ]

[dependencies.slog]
version = "2.7"
features = [ "max_level_trace", "release_max_level_debug" ]

[dependencies.tokio]
version = "1.21"
features = [ "full" ]

[dependencies.tokio-postgres]
version = "0.7"
features = [ "with-chrono-0_4", "with-serde_json-1", "with-uuid-1" ]

[dependencies.uuid]
version = "1.1.0"
features = [ "serde", "v4" ]

[dev-dependencies]
criterion = { version = "0.4", features = [ "async_tokio" ] }
expectorate = "1.0.5"
itertools = "0.10.4"
nexus-test-utils-macros = { path = "test-utils-macros" }
nexus-test-utils = { path = "test-utils" }
omicron-test-utils = { path = "../test-utils" }
openapiv3 = "1.0"
regex = "1.6.0"
subprocess = "0.2.9"
term = "0.7"
httptest = "0.15.4"
strum = { version = "0.24", features = [ "derive" ] }

[dev-dependencies.openapi-lint]
git = "https://github.com/oxidecomputer/openapi-lint"
branch = "main"

[[bench]]
name = "setup_benchmark"
harness = false

#
# Disable doc builds by default for our binaries to work around issue
# rust-lang/cargo#8373.  These docs would not be very useful anyway.
#
[[bin]]
name = "nexus"
doc = false
