[package]
name = "nexus-test-utils"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
bytes.workspace = true
camino.workspace = true
camino-tempfile.workspace = true
chrono.workspace = true
crucible-agent-client.workspace = true
dns-server.workspace = true
dpd-client.workspace = true
dns-service-client.workspace = true
dropshot.workspace = true
futures.workspace = true
gateway-messages.workspace = true
gateway-test-utils.workspace = true
headers.workspace = true
hickory-resolver.workspace = true
http.workspace = true
http-body-util.workspace = true
hyper.workspace = true
iddqd.workspace = true
illumos-utils.workspace = true
internal-dns-resolver.workspace = true
internal-dns-types.workspace = true
nexus-client.workspace = true
nexus-config.workspace = true
nexus-db-queries = { workspace = true, features = [ "testing" ] }
nexus-lockstep-client.workspace = true
nexus-sled-agent-shared.workspace = true
nexus-test-interface.workspace = true
nexus-types.workspace = true
omicron-cockroach-admin.workspace = true
omicron-common.workspace = true
omicron-passwords.workspace = true
omicron-sled-agent.workspace = true
omicron-test-utils.workspace = true
omicron-uuid-kinds.workspace = true
omicron-workspace-hack.workspace = true
oximeter.workspace = true
oximeter-collector.workspace = true
oximeter-producer.workspace = true
oxnet.workspace = true
pretty_assertions.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_urlencoded.workspace = true
sled-agent-client.workspace = true
slog.workspace = true
slog-error-chain.workspace = true
tokio.workspace = true
tokio-postgres = { workspace = true, features = ["with-serde_json-1"] }
tokio-util.workspace = true
uuid.workspace = true

[features]
omicron-dev = ["omicron-test-utils/seed-gen"]
