[package]
name = "nexus-test-utils"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[dependencies]
anyhow = "1.0"
bytes = "1.3.0"
chrono = { version = "0.4",  features = [ "serde" ] }
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "main", features = [ "usdt-probes" ] }
headers = "0.3.8"
http = "0.2.7"
hyper = "0.14"
nexus-test-interface = { path = "../test-interface" }
omicron-common = { path = "../../common" }
omicron-nexus = { path = ".." }
omicron-sled-agent = { path = "../../sled-agent" }
omicron-test-utils = { path = "../../test-utils" }
oximeter = { version = "0.1.0", path = "../../oximeter/oximeter" }
oximeter-client = { path = "../../oximeter-client" }
oximeter-collector = { version = "0.1.0",  path = "../../oximeter/collector" }
oximeter-producer = { version = "0.1.0",  path = "../../oximeter/producer" }
parse-display = "0.7.0"
serde = { version = "1.0",  features = [ "derive" ] }
serde_json = "1.0"
serde_urlencoded = "0.7.1"
slog = { version = "2.7",  features = [ "max_level_trace", "release_max_level_debug" ] }
uuid = { version = "1.2.2", features = [ "serde", "v4" ] }

[build-dependencies]
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "main", features = [ "usdt-probes" ] }
omicron-test-utils = { path = "../../test-utils" }
tokio = { version = "1.22" }
