# Sled Agent Configuration

# Identifies whether sled agent treats itself as a scrimlet or a gimlet.
#
# If this is set to "scrimlet", the sled agent treats itself as a scrimlet.
# If this is set to "gimlet", the sled agent treats itself as a gimlet.
# If this is set to "auto":
# - On illumos, the sled automatically detects whether or not it is a scrimlet.
# - On all other platforms, the sled assumes it is a gimlet.
sled_mode = "auto"

# Identifies the revision of the sidecar that is attached, if one is attached.
# TODO: This field should be removed once Gimlets have the ability to auto-detect
# this information.
sidecar_revision.physical = "b"

# An optional data link from which we extract a MAC address.
# This is used as a unique identifier for the bootstrap address.
#
# If empty, this will be equivalent to the first result from:
# $ dladm show-phys -p -o LINK
data_link = "cxgbe0"

# Percentage of usable physical DRAM to use for the VMM reservoir, which
# guest memory is pulled from.
vmm_reservoir_percentage = 86.3
# The amount of memory held back for services which exist between zero and one
# on this Gimlet. This currently includes some additional terms reflecting
# OS memory use under load.
#
# As of writing, this is the sum of the following items from RFD 413:
# * Network buffer slush: 18 GiB
# * Other kernel heap: 20 GiB
# * ZFS ARC minimum: 5 GiB
# * Sled agent: 0.5 GiB
# * Maghemite: 0.25 GiB
# * NTP: 0.25 GiB
control_plane_memory_earmark_mb = 45056

# Swap device size for the system. The device is a sparsely allocated zvol on
# the internal zpool of the M.2 that we booted from.
#
# If use of the VMM reservoir is configured, it is likely the system will not
# work without a swap device configured.
#
# We pick 256 GiB somewhat arbitrarily, since the device is sparsely
# allocated.
swap_device_size_gb = 256

data_links = ["cxgbe0", "cxgbe1"]

[dropshot]
default_request_body_max_bytes = 1048576

[log]
level = "info"
mode = "file"
path = "/dev/stdout"
if_exists = "append"

[sprockets]
resolve = { which = "ipcc" }
roots = ["/usr/share/oxide/idcerts/staging.pem", "/usr/share/oxide/idcerts/production.pem"]
