#
# SP simulator: example config file
#

[[simulated_sps.sidecar]]
serial_number = "SimSidecar0"
manufacturing_root_cert_seed = "01de01de01de01de01de01de01de01de01de01de01de01de01de01de01de01de"
device_id_cert_seed = "01de000000000000000000000000000000000000000000000000000000000000"

[[simulated_sps.sidecar.network_config]]
[simulated_sps.sidecar.network_config.simulated]
bind_addr = "[::1]:33300"

[[simulated_sps.sidecar.network_config]]
[simulated_sps.sidecar.network_config.simulated]
bind_addr = "[::1]:33301"

[[simulated_sps.sidecar.ereport_network_config]]
[simulated_sps.sidecar.ereport_network_config.simulated]
bind_addr = "[::1]:44400"

[[simulated_sps.sidecar.ereport_network_config]]
[simulated_sps.sidecar.ereport_network_config.simulated]
bind_addr = "[::1]:44401"

[[simulated_sps.gimlet]]
serial_number = "SimGimlet0"
manufacturing_root_cert_seed = "01de01de01de01de01de01de01de01de01de01de01de01de01de01de01de01de"
device_id_cert_seed = "01de000000000000000000000000000000000000000000000000000000000001"

[[simulated_sps.gimlet.network_config]]
[simulated_sps.gimlet.network_config.simulated]
bind_addr = "[::1]:33310"

[[simulated_sps.gimlet.network_config]]
[simulated_sps.gimlet.network_config.simulated]
bind_addr = "[::1]:33311"

[[simulated_sps.gimlet.ereport_network_config]]
[simulated_sps.gimlet.ereport_network_config.simulated]
bind_addr = "[::1]:44410"

[[simulated_sps.gimlet.ereport_network_config]]
[simulated_sps.gimlet.ereport_network_config.simulated]
bind_addr = "[::1]:44411"

[[simulated_sps.gimlet.components]]
id = "sp3-host-cpu"
device = "sp3-host-cpu"
description = "FAKE host cpu"
capabilities = 0
presence = "Present"
serial_console = "[::1]:33312"

[[simulated_sps.gimlet]]
serial_number = "SimGimlet1"
manufacturing_root_cert_seed = "01de01de01de01de01de01de01de01de01de01de01de01de01de01de01de01de"
device_id_cert_seed = "01de000000000000000000000000000000000000000000000000000000000002"

[[simulated_sps.gimlet.network_config]]
[simulated_sps.gimlet.network_config.simulated]
bind_addr = "[::1]:33320"

[[simulated_sps.gimlet.network_config]]
[simulated_sps.gimlet.network_config.simulated]
bind_addr = "[::1]:33321"

[[simulated_sps.gimlet.ereport_network_config]]
[simulated_sps.gimlet.ereport_network_config.simulated]
bind_addr = "[::1]:44420"

[[simulated_sps.gimlet.ereport_network_config]]
[simulated_sps.gimlet.ereport_network_config.simulated]
bind_addr = "[::1]:44421"

[[simulated_sps.gimlet.components]]
id = "sp3-host-cpu"
device = "sp3-host-cpu"
description = "FAKE host cpu"
capabilities = 0
presence = "Present"
serial_console = "[::1]:33322"

[log]
# Show log messages of this level and more severe
level = "debug"

# Example output to a terminal (with colors)
mode = "stderr-terminal"

# Example output to a file, appending if it already exists.
#mode = "file"
#path = "logs/server.log"
#if_exists = "append"
