<clickhouse>
    <logger>
        <level>trace</level>
        <console>true</console>
        <log>/var/tmp/clickhouse-server.log</log>
        <errorlog>/var/tmp/clickhouse-server.errlog</errorlog>
    </logger>

    <query_log>
        <database>system</database>
        <table>query_log</table>
        <engine>Engine = MergeTree ORDER BY event_time TTL event_date + INTERVAL 7 DAY</engine>
        <flush_interval_milliseconds>10000</flush_interval_milliseconds>
    </query_log>

    <metric_log>
        <database>system</database>
        <table>metric_log</table>
        <!--
            TTL will be 30 days until we've finished long running tests.
            After that, we can reduce it to a week or two.
        -->
        <engine>Engine = MergeTree ORDER BY event_time TTL event_date + INTERVAL 30 DAY</engine>
        <flush_interval_milliseconds>7500</flush_interval_milliseconds>
        <collect_interval_milliseconds>1000</collect_interval_milliseconds>
        <max_size_rows>1048576</max_size_rows>
        <reserved_size_rows>8192</reserved_size_rows>
        <buffer_size_rows_flush_threshold>524288</buffer_size_rows_flush_threshold>
        <flush_on_crash>false</flush_on_crash>
    </metric_log>

    <asynchronous_metric_log>
        <database>system</database>
        <table>asynchronous_metric_log</table>
        <!--
            TTL will be 30 days until we've finished long running tests.
            After that, we can reduce it to a week or two.
        -->
        <engine>Engine = MergeTree ORDER BY event_time TTL event_date + INTERVAL 30 DAY</engine>
        <flush_interval_milliseconds>7500</flush_interval_milliseconds>
        <collect_interval_milliseconds>1000</collect_interval_milliseconds>
        <max_size_rows>1048576</max_size_rows>
        <reserved_size_rows>8192</reserved_size_rows>
        <buffer_size_rows_flush_threshold>524288</buffer_size_rows_flush_threshold>
        <flush_on_crash>false</flush_on_crash>
    </asynchronous_metric_log>

    <mlock_executable>true</mlock_executable>

    <tcp_port>9000</tcp_port>

    <users>
        <default>
            <password/>

            <networks>
                <ip>::/0</ip>
            </networks>

            <profile>default</profile>
            <quota>default</quota>
            <access_management>1</access_management>
        </default>
    </users>

    <profiles>
        <default/>
    </profiles>

    <quotas>
        <default/>
    </quotas>

    <merge_tree>
        <!-- Disable sparse column serialization, which we expect to not need -->
        <ratio_of_defaults_for_sparse_serialization>1.0</ratio_of_defaults_for_sparse_serialization>
        <!-- Prevent ClickHouse from setting distributed tables to read-only. -->
        <!-- See https://github.com/oxidecomputer/omicron/issues/8595 for details. -->
        <replicated_max_ratio_of_wrong_parts>1.0</replicated_max_ratio_of_wrong_parts>
    </merge_tree>
</clickhouse>
