[package]
name = "trust-quorum"
version = "0.1.0"
edition.workspace = true
license = "MPL-2.0"
description = "trust quorum library for use by bootstrap agent"

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
bootstore.workspace = true
bytes.workspace = true
camino.workspace = true
chacha20poly1305.workspace = true
ciborium.workspace = true
daft.workspace = true
derive_more.workspace = true
futures.workspace = true
gfss.workspace = true
hex.workspace = true
hkdf.workspace = true
iddqd.workspace = true
omicron-common.workspace = true
omicron-uuid-kinds.workspace = true
rand = { workspace = true, features = ["os_rng"] }
secrecy.workspace = true
serde.workspace = true
serde_with.workspace = true
sha3.workspace = true
sled-agent-types.workspace = true
slog.workspace = true
slog-error-chain.workspace = true
sprockets-tls.workspace = true
static_assertions.workspace = true
subtle.workspace = true
thiserror.workspace = true
tokio.workspace = true
trust-quorum-protocol.workspace = true
uuid.workspace = true
zeroize.workspace = true
omicron-workspace-hack.workspace = true

[dev-dependencies]
assert_matches.workspace = true
attest-mock.workspace = true
dropshot.workspace = true
omicron-test-utils.workspace = true
proptest.workspace = true
serde_json.workspace = true
sled-hardware-types.workspace = true
test-strategy.workspace = true
trust-quorum-protocol = { workspace = true, features = ["testing"] }
trust-quorum-test-utils.workspace = true
sprockets-tls-test-utils.workspace = true
