[package]
name = "nexus-db-queries"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[lints]
workspace = true

[build-dependencies]
omicron-rpaths.workspace = true

[dependencies]
anyhow.workspace = true
async-bb8-diesel.workspace = true
async-trait.workspace = true
camino.workspace = true
chrono.workspace = true
clickhouse-admin-types.workspace = true
cockroach-admin-types.workspace = true
const_format.workspace = true
diesel.workspace = true
diesel-dtrace.workspace = true
dropshot.workspace = true
futures.workspace = true
id-map.workspace = true
iddqd.workspace = true
internal-dns-resolver.workspace = true
internal-dns-types.workspace = true
ipnetwork.workspace = true
itertools.workspace = true
macaddr.workspace = true
oxnet.workspace = true
paste.workspace = true
# See omicron-rpaths for more about the "pq-sys" dependency.
pq-sys = "*"
qorb.workspace = true
rand.workspace = true
ref-cast.workspace = true
regex.workspace = true
schemars.workspace = true
semver.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_with.workspace = true
sled-agent-client.workspace = true
slog.workspace = true
slog-error-chain.workspace = true
static_assertions.workspace = true
steno.workspace = true
strum.workspace = true
swrite.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["full"] }
tufaceous-artifact.workspace = true
url.workspace = true
usdt.workspace = true
uuid.workspace = true

ereport-types.workspace = true
db-macros.workspace = true
nexus-auth.workspace = true
nexus-config.workspace = true
nexus-db-errors.workspace = true
nexus-db-fixed-data.workspace = true
nexus-db-model.workspace = true
nexus-db-lookup.workspace = true
nexus-db-schema.workspace = true
nexus-sled-agent-shared.workspace = true
nexus-types.workspace = true
omicron-cockroach-metrics.workspace = true
omicron-common.workspace = true
omicron-passwords.workspace = true
omicron-uuid-kinds.workspace = true
oximeter.workspace = true
omicron-workspace-hack.workspace = true

# only enabled during tests or via the `testing` feature
omicron-test-utils = { workspace = true, optional = true }

[features]
# Enable to export `TestDatabase`
testing = ["omicron-test-utils"]

[dev-dependencies]
assert_matches.workspace = true
camino-tempfile.workspace = true
criterion.workspace = true
expectorate.workspace = true
hyper-rustls.workspace = true
gateway-client.workspace = true
gateway-types.workspace = true
illumos-utils.workspace = true
internal-dns-resolver.workspace = true
itertools.workspace = true
nexus-inventory.workspace = true
nexus-reconfigurator-planning.workspace = true
nexus-test-utils.workspace = true
omicron-sled-agent.workspace = true
omicron-test-utils = { workspace = true, features = ["seed-gen"] }
openapiv3.workspace = true
oso.workspace = true
pem.workspace = true
petgraph.workspace = true
predicates.workspace = true
pretty_assertions.workspace = true
rcgen.workspace = true
regex.workspace = true
rustls.workspace = true
subprocess.workspace = true
term.workspace = true

[[bench]]
name = "sled_reservation"
harness = false
