[package]
name = "nexus-db-queries"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[build-dependencies.omicron-rpaths]
path = "../../rpaths"

[dependencies]
anyhow.workspace = true
async-bb8-diesel.workspace = true
async-trait.workspace = true
base64.workspace = true
bb8.workspace = true
chrono.workspace = true
cookie.workspace = true
diesel = { workspace = true, features = ["postgres", "r2d2", "chrono", "serde_json", "network-address", "uuid"] }
diesel-dtrace.workspace = true
dropshot.workspace = true
futures.workspace = true
headers.workspace = true
hex.workspace = true
http.workspace = true
hyper.workspace = true
ipnetwork.workspace = true
lazy_static.workspace = true
macaddr.workspace = true
newtype_derive.workspace = true
# Not under "dev-dependencies"; these also need to be implemented for
# integration tests.
nexus-test-interface.workspace = true
num-integer.workspace = true
once_cell.workspace = true
openssl.workspace = true
openssl-sys.workspace = true
openssl-probe.workspace = true
oso.workspace = true
parse-display.workspace = true
paste.workspace = true
# See omicron-rpaths for more about the "pq-sys" dependency.
pq-sys = "*"
rand.workspace = true
ref-cast.workspace = true
reqwest = { workspace = true, features = [ "json" ] }
ring.workspace = true
samael.workspace = true
schemars = { workspace = true, features = ["chrono", "uuid1"] }
serde.workspace = true
serde_json.workspace = true
serde_urlencoded.workspace = true
serde_with.workspace = true
sled-agent-client.workspace = true
slog.workspace = true
steno.workspace = true
tempfile.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = [ "full" ] }
tokio-postgres = { workspace = true, features = [ "with-serde_json-1" ] }
toml.workspace = true
uuid.workspace = true
usdt.workspace = true

authz-macros.workspace = true
db-macros.workspace = true
nexus-defaults.workspace = true
nexus-db-model.workspace = true
nexus-passwords.workspace = true
nexus-types.workspace = true
omicron-common.workspace = true
oximeter.workspace = true

[dev-dependencies]
assert_matches.workspace = true
expectorate.workspace = true
hyper-rustls.workspace = true
itertools.workspace = true
nexus-test-utils.workspace = true
omicron-sled-agent.workspace = true
omicron-test-utils.workspace = true
openapiv3.workspace = true
pem.workspace = true
petgraph.workspace = true
rcgen.workspace = true
regex.workspace = true
rustls.workspace = true
subprocess.workspace = true
term.workspace = true
strum.workspace = true
