# For use with direnv: https://direnv.net
# See also: ./env.sh

PATH_add out/cockroachdb/bin
PATH_add out/clickhouse
PATH_add out/dendrite-stub/bin
PATH_add out/mgd/root/opt/oxide/mgd/bin

if [ "$OMICRON_USE_FLAKE" = 1 ] && nix flake show &> /dev/null
then
    # watch version files which should cause the nix-direnv cache to be
    # invalidated, as they are inputs to the Nix flake.
    watch_file tools/maghemite_mg_openapi_version
    watch_file tools/dendrite_version
    watch_file tools/clickhouse_version
    watch_file tools/cocroachdb_version
    watch_file rust-toolchain.toml
    use flake;
fi
