# For use with direnv: https://direnv.net
# See also: ./env.sh

PATH_add out/cockroachdb/bin
PATH_add out/clickhouse
PATH_add out/dendrite-stub/root/opt/oxide/dendrite/bin
PATH_add out/mgd/root/opt/oxide/mgd/bin

if [ "$OMICRON_USE_FLAKE" = 1 ] && nix flake show &> /dev/null
then
    use flake;
fi

if [ "$(uname -s)" = "Darwin" ] && [ -d /opt/homebrew/opt/libxml2 ]
then
    export PKG_CONFIG_PATH=/opt/homebrew/opt/libxml2/lib/pkgconfig
fi
