/target
**/*.rs.bk
README.html
TODO.html
logs
out
/clickhouse/
/cockroachdb/
smf/nexus/root.json
core
*.vdev
debug.out
rusty-tags.vi
*.sw*
tags
.direnv
.falcon/*
.img/*
connectivity-report.json
*.local
CLAUDE.md
