[workspace]
members = [
    "api_identity",
    "bootstore",
    "common",
    "ddm-admin-client",
    "deploy",
    "dns-server",
    "dns-service-client",
    "end-to-end-tests",
    "gateway",
    "gateway-cli",
    "gateway-client",
    "gateway-test-utils",
    "illumos-utils",
    "installinator",
    "installinator-artifact-client",
    "installinator-artifactd",
    "installinator-common",
    "internal-dns-names",
    "ipcc-key-value",
    "nexus",
    "nexus-client",
    "nexus/authz-macros",
    "nexus/db-macros",
    "nexus/db-model",
    "nexus/db-queries",
    "nexus/defaults",
    "nexus/passwords",
    "nexus/test-interface",
    "nexus/test-utils",
    "nexus/test-utils-macros",
    "nexus/types",
    "oxide-client",
    "oximeter-client",
    "oximeter/collector",
    "oximeter/db",
    "oximeter/instruments",
    "oximeter/oximeter",
    "oximeter/oximeter-macro-impl",
    "oximeter/producer",
    "package",
    "rpaths",
    "sled-agent",
    "sled-agent-client",
    "sled-hardware",
    "sp-sim",
    "test-utils",
    "tufaceous",
    "tufaceous-lib",
    "wicket",
    "wicketd",
    "wicketd-client",
]

default-members = [
    "common",
    "ddm-admin-client",
    "deploy",
    "dns-server",
    "dns-service-client",
    "gateway",
    "gateway-cli",
    "gateway-client",
    "gateway-test-utils",
    "illumos-utils",
    "installinator",
    "installinator-artifact-client",
    "installinator-artifactd",
    "installinator-common",
    "internal-dns-names",
    "ipcc-key-value",
    "nexus",
    "nexus-client",
    "nexus/authz-macros",
    "nexus/db-macros",
    "nexus/db-model",
    "nexus/db-queries",
    "nexus/defaults",
    "nexus/passwords",
    "nexus/types",
    "oxide-client",
    "oximeter-client",
    "oximeter/collector",
    "oximeter/db",
    "oximeter/instruments",
    "oximeter/oximeter",
    "oximeter/oximeter-macro-impl",
    "oximeter/producer",
    "package",
    "rpaths",
    "sled-agent",
    "sled-agent-client",
    "sled-hardware",
    "sp-sim",
    "test-utils",
    "tufaceous",
    "tufaceous-lib",
    "wicket",
    "wicketd",
    "wicketd-client",
]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0"
api_identity = { path = "api_identity" }
assert_matches = "1.5.0"
assert_cmd = "2.0.8"
async-bb8-diesel = { git = "https://github.com/oxidecomputer/async-bb8-diesel", rev = "7944dafc8a36dc6e20a1405eca59d04662de2bb7" }
async-trait = "0.1.66"
authz-macros = { path = "nexus/authz-macros" }
backoff = { version = "0.4.0", features = [ "tokio" ] }
base64 = "0.21.0"
bb8 = "0.8.0"
bcs = "0.1.5"
bincode = "1.3.3"
buf-list = "1.0.1"
bytes = "1.4.0"
bytesize = "1.2.0"
camino = "1.1"
ciborium = "0.2.0"
cfg-if = "1.0"
chrono = { version = "0.4", features = [ "serde" ] }
clap = { version = "4.1", features = ["derive"] }
cookie = "0.16"
criterion = { version = "0.4", features = [ "async_tokio" ] }
crossbeam = "0.8"
crucible-agent-client = { git = "https://github.com/oxidecomputer/crucible", rev = "fb671895e8adb3cab5e801bbbe8728997178aba4" }
crucible-client-types = { git = "https://github.com/oxidecomputer/crucible", rev = "fb671895e8adb3cab5e801bbbe8728997178aba4" }
crucible-pantry-client = { git = "https://github.com/oxidecomputer/crucible", rev = "fb671895e8adb3cab5e801bbbe8728997178aba4" }
crucible-smf = { git = "https://github.com/oxidecomputer/crucible", rev = "fb671895e8adb3cab5e801bbbe8728997178aba4" }
datatest-stable = "0.1.3"
display-error-chain = "0.1.1"
ddm-admin-client = { path = "ddm-admin-client" }
db-macros = { path = "nexus/db-macros" }
debug-ignore = "1.0.5"
derive_more = "0.99.17"
diesel = { version = "2.0.3" }
diesel-dtrace = { git = "https://github.com/oxidecomputer/diesel-dtrace", rev = "309bd361d886a237fbdd5d74992bdbd783f98bff" }
dns-server = { path = "dns-server" }
dns-service-client = { path = "dns-service-client" }
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "main", features = [ "usdt-probes" ] }
expectorate = "1.0.6"
fatfs = "0.3.6"
flate2 = "1.0.25"
fs-err = "2.9.0"
futures = "0.3.27"
gateway-client = { path = "gateway-client" }
gateway-messages = { git = "https://github.com/oxidecomputer/management-gateway-service", default-features = false, features = ["std"], rev = "a15a3f8f58bb7b2fadc94f42a4747022ae6d401d" }
gateway-sp-comms = { git = "https://github.com/oxidecomputer/management-gateway-service", rev = "a15a3f8f58bb7b2fadc94f42a4747022ae6d401d" }
gateway-test-utils = { path = "gateway-test-utils" }
headers = "0.3.8"
heck = "0.4"
hex = "0.4.3"
hex-literal = "0.3.4"
http = "0.2.9"
httptest = "0.15.4"
hyper-rustls = "0.23.2"
hyper = "0.14"
illumos-utils = { path = "illumos-utils" }
indicatif = { version = "0.17.3", features = ["rayon"] }
installinator-artifactd = { path = "installinator-artifactd" }
installinator-artifact-client = { path = "installinator-artifact-client" }
installinator-common = { path = "installinator-common" }
internal-dns-names = { path = "internal-dns-names" }
ipcc-key-value = { path = "ipcc-key-value" }
ipnetwork = "0.20"
itertools = "0.10.5"
lazy_static = "1.4.0"
libc = "0.2.139"
macaddr = { version = "1.0.1", features = ["serde_std"] }
mime_guess = "2.0.4"
mockall = "0.11"
newtype_derive = "0.1.6"
nexus-client = { path = "nexus-client" }
nexus-db-model = { path = "nexus/db-model" }
nexus-db-queries = { path = "nexus/db-queries" }
nexus-defaults = { path = "nexus/defaults" }
nexus-passwords = { path = "nexus/passwords" }
nexus-test-interface = { path = "nexus/test-interface" }
nexus-test-utils-macros = { path = "nexus/test-utils-macros" }
nexus-test-utils = { path = "nexus/test-utils" }
nexus-types = { path = "nexus/types" }
num-integer = "0.1.45"
num-traits = "0.2.15"
omicron-common = { path = "common" }
omicron-gateway = { path = "gateway" }
omicron-nexus = { path = "nexus" }
omicron-package = { path = "package" }
omicron-sled-agent = { path = "sled-agent" }
omicron-test-utils = { path = "test-utils" }
omicron-zone-package = "0.8.3"
oxide-vpc = { git = "https://github.com/oxidecomputer/opte", rev = "41ba1d3fa476284c9cbc5d7eab7539cfad3eeb37", features = [ "api", "std" ] }
once_cell = "1.17.1"
openapi-lint = { git = "https://github.com/oxidecomputer/openapi-lint", branch = "main" }
openapiv3 = "1.0"
# must match samael's crate!
openssl = "0.10"
openssl-sys = "0.9"
openssl-probe = "0.1.2"
opte-ioctl = { git = "https://github.com/oxidecomputer/opte", rev = "41ba1d3fa476284c9cbc5d7eab7539cfad3eeb37" }
oso = "0.26"
oximeter = { path = "oximeter/oximeter" }
oximeter-client = { path = "oximeter-client" }
oximeter-db = { path = "oximeter/db/" }
oximeter-collector = { path = "oximeter/collector" }
oximeter-instruments = { path = "oximeter/instruments" }
oximeter-macro-impl = { path = "oximeter/oximeter-macro-impl" }
oximeter-producer = { path = "oximeter/producer" }
p256 = "0.11"
parse-display = "0.7.0"
partial-io = { version = "0.5.4", features = ["proptest1", "tokio1"] }
paste = "1.0.12"
percent-encoding = "2.2.0"
pem = "1.1"
petgraph = "0.6.3"
postgres-protocol = "0.6.4"
predicates = "2.1.5"
pretty-hex = "0.3.0"
proc-macro2 = "1.0"
progenitor = { git = "https://github.com/oxidecomputer/progenitor", branch = "main" }
progenitor-client = { git = "https://github.com/oxidecomputer/progenitor", branch = "main" }
propolis-client = { git = "https://github.com/oxidecomputer/propolis", rev = "880a031fbdd7417cd3a4643f8bf419d8d5ea8224", features = [ "generated-migration" ] }
proptest = "1.1.0"
quote = "1.0"
rand = "0.8.5"
rayon = "1.7"
rcgen = "0.10.0"
ref-cast = "1.0"
regex = "1.7.1"
regress = "0.4.1"
reqwest = { version = "0.11", default-features = false }
ring = "0.16"
rustfmt-wrapper = "0.2"
rustls = "0.20.7"
samael = { git = "https://github.com/njaremko/samael", features = ["xmlsec"], branch = "master" }
schemars = "0.8.12"
semver = { version = "1.0.17", features = ["std", "serde"] }
serde = { version = "1.0", default-features = false, features = [ "derive" ] }
serde_derive = "1.0"
serde_human_bytes = { git = "http://github.com/oxidecomputer/serde_human_bytes" }
serde_json = "1.0.94"
serde_path_to_error = "0.1.9"
serde_tokenstream = "0.1"
serde_urlencoded = "0.7.1"
serde_with = "2.3.1"
serial_test = "0.10"
sha2 = "0.10.6"
sha3 = "0.10.6"
shell-words = "1.1.0"
signal-hook = "0.3"
signal-hook-tokio = { version = "0.3", features = [ "futures-v0_3" ] }
sled = "0.34"
sled-agent-client = { path = "sled-agent-client" }
sled-hardware = { path = "sled-hardware" }
slog = { version = "2.7", features = [ "max_level_trace", "release_max_level_debug" ] }
slog-async = "2.7"
slog-dtrace = "0.2"
slog-envlogger = "2.2"
slog-term = "2.9"
smf = "0.2"
snafu = "0.7"
sp-sim = { path = "sp-sim" }
sprockets-common = { git = "http://github.com/oxidecomputer/sprockets", rev = "77df31efa5619d0767ffc837ef7468101608aee9" }
sprockets-host = { git = "http://github.com/oxidecomputer/sprockets", rev = "77df31efa5619d0767ffc837ef7468101608aee9" }
sprockets-rot = { git = "http://github.com/oxidecomputer/sprockets", rev = "77df31efa5619d0767ffc837ef7468101608aee9" }
# Please do not change the Steno version to a Git dependency.  It makes it
# harder than expected to make breaking changes (even if you specify a specific
# SHA).  Cut a new Steno release instead.  See omicron#2117.
steno = "0.3.1"
strum = { version = "0.24", features = [ "derive" ] }
subprocess = "0.2.9"
libsw = { version = "3.1.0", features = ["tokio"] }
syn = { version = "1.0" }
tar = "0.4"
tempdir = "0.3"
tempfile = "3.4"
term = "0.7"
termios = "0.3"
test-strategy = "0.2.1"
thiserror = "1.0"
tofino = { git = "http://github.com/oxidecomputer/tofino", branch = "main" }
tokio = "1.26"
tokio-postgres = { version = "0.7", features = [ "with-chrono-0_4", "with-uuid-1" ] }
tokio-stream = "0.1.12"
tokio-tungstenite = "0.18"
tokio-util = "0.7.7"
toml = "0.7.3"
tough = { version = "0.12", features = [ "http" ] }
trust-dns-client = "0.22"
trust-dns-proto = "0.22"
trust-dns-resolver = "0.22"
trust-dns-server = "0.22"
trybuild = "1.0.79"
tufaceous = { path = "tufaceous" }
tufaceous-lib = { path = "tufaceous-lib" }
uuid = { version = "1.3.0", features = ["serde", "v4"] }
usdt = "0.3"
vsss-rs = { version = "2.7", default-features = false, features = ["std"] }
walkdir = "2.3"
wicketd-client = { path = "wicketd-client" }
zeroize = { version = "1.5.7", features = ["zeroize_derive", "std"] }
zip = { version = "0.6.4", default-features = false, features = ["deflate","bzip2"] }
zone = { version = "0.2", default-features = false, features = ["async"] }

[profile.dev]
panic = "abort"

# `bindgen` is used by `samael`'s build script; building it with optimizations
# makes that build script run ~5x faster, more than offsetting the additional
# build time added to `bindgen` itself.
[profile.dev.package.bindgen]
opt-level = 3

# `lalrpop` is used by `polar-core`'s build script; building it with
# optimizations makes that build script run ~20x faster, more than offsetting
# the additional build time added to `lalrpop` itself.
[profile.dev.package.lalrpop]
opt-level = 3

# `polar-core` is exercised heavily during the test suite and it's worthwhile to
# have it built with optimizations.
[profile.dev.package.polar-core]
opt-level = 3

# Password hashing is expensive by construction.  Build the hashing libraries
# with optimizations to significantly speed up tests.
[profile.dev.package.argon2]
opt-level = 3
[profile.dev.package.rust-argon2]
opt-level = 3


[profile.release]
panic = "abort"

#
# It's common during development to use a local copy of dropshot, propolis,
# crucible, or steno in the parent directory.  If you want to use those,
# uncomment one of these blocks.
#
#[patch."https://github.com/oxidecomputer/dropshot"]
#dropshot = { path = "../dropshot/dropshot" }
#[patch."https://github.com/oxidecomputer/steno"]
#steno = { path = "../steno" }
#[patch."https://github.com/oxidecomputer/propolis"]
#propolis-client = { path = "../propolis/lib/propolis-client" }
#[patch."https://github.com/oxidecomputer/crucible"]
#crucible-agent-client = { path = "../crucible/agent-client" }
#crucible-client-types = { path = "../crucible/crucible-client-types" }
#crucible-pantry-client = { path = "../crucible/pantry-client" }

#
# Local client generation during development.
#
#[patch."https://github.com/oxidecomputer/progenitor"]
#progenitor = { path = "../progenitor/progenitor" }
#[patch."https://github.com/oxidecomputer/typify"]
#typify = { path = "../typify/typify" }

#
# We maintain a fork of pq-sys to address upstream issues.  See the
# README.oxide.md in the "oxide" branch of our fork for details.
#
[patch.crates-io.pq-sys]
git = 'https://github.com/oxidecomputer/pq-sys'
branch = "oxide/omicron"
