[package]
name = "oxide-api-prototype"
version = "0.1.0"
authors = ["David Pacheco <dap@oxidecomputer.com>"]
edition = "2018"

[dependencies]
async-trait = "0.1.24"
chrono = { version = "0.4", features = [ "serde" ] }
clap = "2"
futures = "0.3.1"
http = "0.2.0"
dropshot = { git = "https://github.com/oxidecomputer/dropshot" }
hyper = "0.13"
schemars = { version = "0.7", features = [ "chrono", "uuid" ] }
serde = { version = "1.0", features = [ "derive" ] }
serde_json = "1.0"
tokio = { version = "0.2", features = [ "full" ] }
toml = "0.5.6"
uuid = { version = "0.8", features = [ "serde", "v4" ] }

[dev-dependencies]
expectorate = "1.0.1"
libc = "0.2.71"
openapiv3 = "0.3.0"
subprocess = "0.2.4"

[dependencies.slog]
version = "2.5"
features = [ "max_level_trace", "release_max_level_debug" ]

#
# It's common during development to use a local copy of dropshot in the parent
# directory.  If you want to use that, uncomment this block.
#
#[patch."https://github.com/oxidecomputer/dropshot"]
#dropshot = { path = "../dropshot/dropshot" }

#
# Disable doc builds by default for our binaries to work around issue
# rust-lang/cargo#8373.  These docs would not be very useful anyway.
#
[[bin]]
name = "oxide_controller"
doc = false
[[bin]]
name = "sled_agent"
doc = false

[profile.dev]
panic = "abort"
[profile.release]
panic = "abort"
