[workspace]
members = [
    "common",
    "ddm-admin-client",
    "deploy",
    "gateway",
    "gateway-cli",
    "gateway-client",
    "gateway-messages",
    "gateway-sp-comms",
    "internal-dns",
    "internal-dns-client",
    "nexus",
    "nexus/src/authz/authz-macros",
    "nexus/src/db/db-macros",
    "nexus/test-utils",
    "nexus/test-utils-macros",
    "nexus-client",
    "package",
    "rpaths",
    "sled-agent",
    "sled-agent-client",
    "sp-sim",
    "oximeter/oximeter",
    "oximeter/collector",
    "oximeter/db",
    "oximeter/instruments",
    "oximeter/producer",
    "oximeter/oximeter-macro-impl",
    "oximeter-client",
    "test-utils",
]

default-members = [
    "common",
    "ddm-admin-client",
    "deploy",
    "gateway",
    "gateway-cli",
    "gateway-client",
    "gateway-messages",
    "gateway-sp-comms",
    "internal-dns",
    "internal-dns-client",
    "nexus",
    "nexus/src/authz/authz-macros",
    "nexus/src/db/db-macros",
    "package",
    "rpaths",
    "sled-agent",
    "sled-agent-client",
    "sp-sim",
    "oximeter/oximeter",
    "oximeter/collector",
    "oximeter/db",
    "oximeter/instruments",
    "oximeter/producer",
    "oximeter/oximeter-macro-impl",
    "oximeter-client",
    "test-utils",
]
resolver = "2"

[profile.dev]
panic = "abort"

[profile.dev.package.bindgen]
opt-level = 3

[profile.dev.package.lalrpop]
opt-level = 3

[profile.release]
panic = "abort"

#
# It's common during development to use a local copy of dropshot, propolis
# or steno in the parent directory.  If you want to use those, uncomment
# one of these blocks.
#
#[patch."https://github.com/oxidecomputer/dropshot"]
#dropshot = { path = "../dropshot/dropshot" }
#[patch."https://github.com/oxidecomputer/steno"]
#steno = { path = "../steno" }
#[patch."https://github.com/oxidecomputer/propolis"]
#propolis-client = { path = "../propolis/client" }
#propolis-server = { path = "../propolis/server" }
#[patch."https://github.com/oxidecomputer/crucible"]
#crucible = { path = "../crucible/upstairs" }

#
# Local client generation during development.
#
#[patch."https://github.com/oxidecomputer/progenitor"]
#progenitor = { path = "../progenitor/progenitor" }
#[patch."https://github.com/oxidecomputer/typify"]
#typify = { path = "../typify/typify" }

#
# We maintain a fork of pq-sys to address upstream issues.  See the
# README.oxide.md in the "oxide" branch of our fork for details.
#
[patch.crates-io.pq-sys]
git = 'https://github.com/oxidecomputer/pq-sys'
branch = "oxide/omicron"
