[package]
name = "omicron"
version = "0.1.0"
authors = ["David Pacheco <dap@oxidecomputer.com>"]
edition = "2018"

[dependencies]
anyhow = "1.0"
async-trait = "0.1.24"
bb8 = "0.7.0"
bb8-postgres = "0.7.0"
futures = "0.3.1"
http = "0.2.0"
hyper = "0.14"
libc = "0.2.71"
ring = "0.16"
serde_json = "1.0"
serde_with = "1.6.4"
signal-hook = "0.3"
smf = "0.1"
structopt = "0.3"
tar = "0.4"
tempfile = "3.0"
thiserror = "1.0"
toml = "0.5.6"
walkdir = "2.3"

[dependencies.api_identity]
path = "./api_identity"

[dependencies.backoff]
version = "0.3.0"
features = [ "tokio" ]

[dependencies.chrono]
version = "0.4"
features = [ "serde" ]

[dependencies.dropshot]
git = "https://github.com/oxidecomputer/dropshot"
branch = "main"

[dependencies.schemars]
version = "0.8"
features = [ "chrono", "uuid" ]

[dependencies.serde]
version = "1.0"
features = [ "derive" ]

[dependencies.signal-hook-tokio]
version = "0.3"
features = [ "futures-v0_3" ]

[dependencies.slog]
version = "2.5"
features = [ "max_level_trace", "release_max_level_debug" ]

[dependencies.steno]
git = "https://github.com/oxidecomputer/steno"
branch = "main"

[dependencies.tokio]
version = "1.0"
features = [ "full" ]

[dependencies.tokio-postgres]
version = "0.7"
features = [ "with-chrono-0_4", "with-uuid-0_8" ]

[dependencies.uuid]
version = "0.8"
features = [ "serde", "v4" ]

[dev-dependencies]
expectorate = "1.0.1"
newline-converter = "0.1.0"
openapiv3 = "0.3.0"
serde_urlencoded = "0.6.1"
subprocess = "0.2.4"

#
# It's common during development to use a local copy of dropshot or steno in the
# parent directory.  If you want to use those, uncomment one of these blocks.
#
#[patch."https://github.com/oxidecomputer/dropshot"]
#dropshot = { path = "../dropshot/dropshot" }
#
#[patch."https://github.com/oxidecomputer/steno"]
#steno = { path = "../steno" }

#
# Disable doc builds by default for our binaries to work around issue
# rust-lang/cargo#8373.  These docs would not be very useful anyway.
#
[[bin]]
name = "bootstrap_agent"
doc = false
[[bin]]
name = "nexus"
doc = false
[[bin]]
name = "omicron_dev"
doc = false
[[bin]]
name = "omicron_package"
doc = false
[[bin]]
name = "sled_agent"
doc = false

[profile.dev]
panic = "abort"
[profile.release]
panic = "abort"

[workspace]
members = [".", "api_identity" ]
default-members = [".", "api_identity" ]
