[workspace]
members = [
    "api_identity",
    "bootstore",
    "common",
    "ddm-admin-client",
    "deploy",
    "end-to-end-tests",
    "gateway",
    "gateway-cli",
    "gateway-client",
    "installinator",
    "installinator-artifact-client",
    "installinator-artifactd",
    "internal-dns",
    "internal-dns-client",
    "nexus",
    "nexus-client",
    "nexus/authz-macros",
    "nexus/db-macros",
    "nexus/db-model",
    "nexus/defaults",
    "nexus/passwords",
    "nexus/test-interface",
    "nexus/test-utils",
    "nexus/test-utils-macros",
    "nexus/types",
    "oxide-client",
    "oximeter-client",
    "oximeter/collector",
    "oximeter/db",
    "oximeter/instruments",
    "oximeter/oximeter",
    "oximeter/oximeter-macro-impl",
    "oximeter/producer",
    "package",
    "rpaths",
    "sled-agent",
    "sled-agent-client",
    "sp-sim",
    "test-utils",
    "wicket",
    "wicketd",
    "wicketd-client",
]

default-members = [
    "common",
    "ddm-admin-client",
    "deploy",
    "gateway",
    "gateway-cli",
    "gateway-client",
    "installinator",
    "installinator-artifact-client",
    "installinator-artifactd",
    "internal-dns",
    "internal-dns-client",
    "nexus",
    "nexus-client",
    "nexus/authz-macros",
    "nexus/db-macros",
    "nexus/db-model",
    "nexus/defaults",
    "nexus/passwords",
    "nexus/types",
    "oxide-client",
    "oximeter-client",
    "oximeter/collector",
    "oximeter/db",
    "oximeter/instruments",
    "oximeter/oximeter",
    "oximeter/oximeter-macro-impl",
    "oximeter/producer",
    "package",
    "rpaths",
    "sled-agent",
    "sled-agent-client",
    "sp-sim",
    "test-utils",
    "wicket",
    "wicketd",
    "wicketd-client",
]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0"
api_identity = { path = "api_identity" }
assert_matches = "1.5.0"
async-bb8-diesel = { git = "https://github.com/oxidecomputer/async-bb8-diesel", rev = "7944dafc8a36dc6e20a1405eca59d04662de2bb7" }
async-trait = "0.1.60"
authz-macros = { path = "nexus/authz-macros" }
backoff = { version = "0.4.0", features = [ "tokio" ] }
base64 = "0.20.0"
bb8 = "0.8.0"
bcs = "0.1.4"
bincode = "1.3.3"
buf-list = "0.1.3"
bytes = "1.3.0"
camino = "1.1"
cfg-if = "1.0"
chrono = { version = "0.4", features = [ "serde" ] }
clap = { version = "4.0", features = ["derive"] }
cookie = "0.16"
criterion = { version = "0.4", features = [ "async_tokio" ] }
crossbeam = "0.8"
crucible-agent-client = { git = "https://github.com/oxidecomputer/crucible", rev = "0e2bea7741c6bdc34e8e08addb941ee31e4ac9ec" }
crucible-client-types = { git = "https://github.com/oxidecomputer/crucible", rev = "0e2bea7741c6bdc34e8e08addb941ee31e4ac9ec" }
display-error-chain = "0.1.1"
ddm-admin-client = { path = "ddm-admin-client" }
db-macros = { path = "nexus/db-macros" }
derive_more = "0.99.17"
diesel = { version = "2.0.2" }
diesel-dtrace = { git = "https://github.com/oxidecomputer/diesel-dtrace", rev = "18748d9f76c94e1f4400fbec0859b3e77a221a8d" }
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "main", features = [ "usdt-probes" ] }
expectorate = "1.0.5"
# TODO(luqman): Update once merged & new release is cut
# https://github.com/rafalh/rust-fatfs/pull/76
fatfs = { git = "https://github.com/luqmana/rust-fatfs", branch = "stable-0.3" }
#fatfs = "0.3.6"
futures = "0.3.25"
gateway-client = { path = "gateway-client" }
gateway-messages = { git = "https://github.com/oxidecomputer/management-gateway-service", rev="1a27a661d7824712aeb4d1b9801938888139eaa7", default-features = false, features = ["std"] }
gateway-sp-comms = { git = "https://github.com/oxidecomputer/management-gateway-service", rev="1a27a661d7824712aeb4d1b9801938888139eaa7" }
headers = "0.3.8"
heck = "0.4"
hex = "0.4.3"
http = "0.2.7"
httptest = "0.15.4"
hyper = "0.14"
indicatif = { version = "0.17.2", features = ["rayon"] }
installinator-artifactd = { path = "installinator-artifactd" }
installinator-artifact-client = { path = "installinator-artifact-client" }
internal-dns = { path = "internal-dns" }
internal-dns-client = { path = "internal-dns-client" }
ipnetwork = "0.20"
itertools = "0.10.5"
lazy_static = "1.4.0"
libc = "0.2.138"
macaddr = { version = "1.0.1", features = [ "serde_std" ]}
mime_guess = "2.0.4"
mockall = "0.11"
newtype_derive = "0.1.6"
nexus-client = { path = "nexus-client" }
nexus-db-model = { path = "nexus/db-model" }
nexus-defaults = { path = "nexus/defaults" }
nexus-passwords = { path = "nexus/passwords" }
nexus-test-interface = { path = "nexus/test-interface" }
nexus-test-utils-macros = { path = "nexus/test-utils-macros" }
nexus-test-utils = { path = "nexus/test-utils" }
nexus-types = { path = "nexus/types" }
num-integer = "0.1.45"
num-traits = "0.2.15"
omicron-common = { path = "common" }
omicron-nexus = { path = "nexus" }
omicron-package = { path = "package" }
omicron-sled-agent = { path = "sled-agent" }
omicron-test-utils = { path = "test-utils" }
omicron-zone-package = "0.5.1"
oxide-vpc = { git = "https://github.com/oxidecomputer/opte", rev = "23fdf5856f10f23e2d26865d2d7e2d3bc537bca3", features = [ "api", "std" ] }
once_cell = "1.16.0"
openapi-lint = { git = "https://github.com/oxidecomputer/openapi-lint", branch = "main" }
openapiv3 = "1.0"
# must match samael's crate!
openssl = "0.10"
openssl-sys = "0.9"
openssl-probe = "0.1.2"
opte-ioctl = { git = "https://github.com/oxidecomputer/opte", rev = "23fdf5856f10f23e2d26865d2d7e2d3bc537bca3" }
oso = "0.26"
oximeter = { path = "oximeter/oximeter" }
oximeter-client = { path = "oximeter-client" }
oximeter-db = { path = "oximeter/db/" }
oximeter-collector = { path = "oximeter/collector" }
oximeter-instruments = { path = "oximeter/instruments" }
oximeter-macro-impl = { path = "oximeter/oximeter-macro-impl" }
oximeter-producer = { path = "oximeter/producer" }
p256 = "0.9.0"
parse-display = "0.7.0"
percent-encoding = "2.2.0"
postgres-protocol = "0.6.4"
pretty-hex = "0.3.0"
proc-macro2 = "1.0"
progenitor = { git = "https://github.com/oxidecomputer/progenitor", branch = "main" }
progenitor-client = { git = "https://github.com/oxidecomputer/progenitor", branch = "main" }
propolis-client = { git = "https://github.com/oxidecomputer/propolis", rev = "666ded451b13bba0895485c0b34515c0e59c2c6e", features = [ "generated-migration" ] }
proptest = "1.0.0"
quote = "1.0"
rand = "0.8.5"
rayon = "1.6"
ref-cast = "1.0"
regex = "1.7.0"
regress = "0.4.1"
reqwest = { version = "0.11", default-features = false }
ring = "0.16"
rustfmt-wrapper = "0.2"
samael = { git = "https://github.com/njaremko/samael", features = ["xmlsec"], branch = "master" }
schemars = "0.8.10"
serde = { version = "1.0", default-features = false, features = [ "derive" ] }
serde_derive = "1.0"
serde_json = "1.0.91"
serde_tokenstream = "0.1"
serde_urlencoded = "0.7.1"
serde_with = "2.1.0"
serial_test = "0.10"
sha3 = "0.10.6"
signal-hook = "0.3"
signal-hook-tokio = { version = "0.3", features = [ "futures-v0_3" ] }
sled = "0.34"
sled-agent-client = { path = "sled-agent-client" }
slog = { version = "2.7", features = [ "max_level_trace", "release_max_level_debug" ] }
slog-async = "2.7"
slog-dtrace = "0.2"
slog-envlogger = "2.2"
slog-term = "2.9"
smf = "0.2"
snafu = "0.7"
sp-sim = { path = "sp-sim" }
sprockets-common = { git = "http://github.com/oxidecomputer/sprockets", rev = "77df31efa5619d0767ffc837ef7468101608aee9" }
sprockets-host = { git = "http://github.com/oxidecomputer/sprockets", rev = "77df31efa5619d0767ffc837ef7468101608aee9" }
sprockets-rot = { git = "http://github.com/oxidecomputer/sprockets", rev = "77df31efa5619d0767ffc837ef7468101608aee9" }
# Please do not change the Steno version to a Git dependency.  It makes it
# harder than expected to make breaking changes (even if you specify a specific
# SHA).  Cut a new Steno release instead.  See omicron#2117.
steno = "0.3.1"
strum = { version = "0.24", features = [ "derive" ] }
subprocess = "0.2.9"
syn = { version = "1.0" }
tar = "0.4"
tempdir = "0.3"
tempfile = "3.3"
term = "0.7"
termios = "0.3"
test-strategy = "0.2.1"
thiserror = "1.0"
tokio = "1.23"
tokio-postgres = { version = "0.7", features = [ "with-chrono-0_4", "with-uuid-1" ] }
tokio-stream = "0.1.11"
tokio-tungstenite = "0.18"
toml = "0.5.10"
tough = { version = "0.12", features = [ "http" ] }
trust-dns-client = "0.22"
trust-dns-proto = "0.22"
trust-dns-resolver = "0.22"
trust-dns-server = "0.22"
trybuild = "1.0.73"
uuid = { version = "1.2.2", features = ["serde", "v4"] }
usdt = "0.3"
vsss-rs = { version = "2.0.0", default-features = false, features = ["std"] }
walkdir = "2.3"
wicketd-client = { path = "wicketd-client" }
zeroize = { version = "1.5.7", features = ["zeroize_derive", "std"] }
zip = { version = "0.6.2", default-features = false, features = ["deflate","bzip2"] }
zone = { version = "0.2", default-features = false, features = ["async"] }

[profile.dev]
panic = "abort"

# `bindgen` is used by `samael`'s build script; building it with optimizations
# makes that build script run ~5x faster, more than offsetting the additional
# build time added to `bindgen` itself.
[profile.dev.package.bindgen]
opt-level = 3

# `lalrpop` is used by `polar-core`'s build script; building it with
# optimizations makes that build script run ~20x faster, more than offsetting
# the additional build time added to `lalrpop` itself.
[profile.dev.package.lalrpop]
opt-level = 3

# `polar-core` is exercised heavily during the test suite and it's worthwhile to
# have it built with optimizations.
[profile.dev.package.polar-core]
opt-level = 3

# Password hashing is expensive by construction.  Build the hashing libraries
# with optimizations to significantly speed up tests.
[profile.dev.package.argon2]
opt-level = 3
[profile.dev.package.rust-argon2]
opt-level = 3


[profile.release]
panic = "abort"

#
# It's common during development to use a local copy of dropshot, propolis,
# crucible, or steno in the parent directory.  If you want to use those,
# uncomment one of these blocks.
#
#[patch."https://github.com/oxidecomputer/dropshot"]
#dropshot = { path = "../dropshot/dropshot" }
#[patch."https://github.com/oxidecomputer/steno"]
#steno = { path = "../steno" }
#[patch."https://github.com/oxidecomputer/propolis"]
#propolis-client = { path = "../propolis/lib/propolis-client" }
#[patch."https://github.com/oxidecomputer/crucible"]
#crucible-agent-client = { path = "../crucible/agent-client" }
#crucible-client-types = { path = "../crucible/crucible-client-types" }

#
# Local client generation during development.
#
#[patch."https://github.com/oxidecomputer/progenitor"]
#progenitor = { path = "../progenitor/progenitor" }
#[patch."https://github.com/oxidecomputer/typify"]
#typify = { path = "../typify/typify" }

#
# We maintain a fork of pq-sys to address upstream issues.  See the
# README.oxide.md in the "oxide" branch of our fork for details.
#
[patch.crates-io.pq-sys]
git = 'https://github.com/oxidecomputer/pq-sys'
branch = "oxide/omicron"
