[workspace]
members = [
    "omicron-bootstrap-agent",
    "omicron-common",
    "omicron-nexus",
    "omicron-sled-agent",
    "oximeter/oximeter",
    "oximeter/oximeter-macro-impl",
    "oximeter/oximeter-target",
    "oximeter/oximeter-metric",
]

default-members = [
    "omicron-bootstrap-agent",
    "omicron-common",
    "omicron-nexus",
    "omicron-sled-agent",
    "oximeter/oximeter",
    "oximeter/oximeter-macro-impl",
]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

#
# It's common during development to use a local copy of dropshot or steno in the
# parent directory.  If you want to use those, uncomment one of these blocks.
#
#[patch."https://github.com/oxidecomputer/dropshot"]
#dropshot = { path = "../dropshot/dropshot" }
#[patch."https://github.com/oxidecomputer/steno"]
#steno = { path = "../steno" }
