[workspace]
members = [
    "omicron-bootstrap-agent",
    "omicron-common",
    "omicron-nexus",
    "omicron-rpaths",
    "omicron-sled-agent",
    "oximeter/oximeter",
    "oximeter/oximeter-macro-impl",
]

default-members = [
    "omicron-bootstrap-agent",
    "omicron-common",
    "omicron-nexus",
    "omicron-rpaths",
    "omicron-sled-agent",
    "oximeter/oximeter",
    "oximeter/oximeter-macro-impl",
]
resolver = "2"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

#
# It's common during development to use a local copy of dropshot or steno in the
# parent directory.  If you want to use those, uncomment one of these blocks.
#
#[patch."https://github.com/oxidecomputer/dropshot"]
#dropshot = { path = "../dropshot/dropshot" }
#[patch."https://github.com/oxidecomputer/steno"]
#steno = { path = "../steno" }

#
# We maintain a fork of pq-sys to address upstream issues.  See the
# README.md.oxide in the "oxide" branch of our fork for details.
#
[patch.crates-io.pq-sys]
git = 'https://github.com/oxidecomputer/pq-sys'
branch = "issue-36-with-metadata"
