[workspace]
members = [
    "bootstore",
    "common",
    "ddm-admin-client",
    "deploy",
    "gateway",
    "gateway-cli",
    "gateway-client",
    "internal-dns",
    "internal-dns-client",
    "nexus",
    "nexus/authz-macros",
    "nexus/db-macros",
    "nexus/db-model",
    "nexus/defaults",
    "nexus/passwords",
    "nexus/test-utils",
    "nexus/test-utils-macros",
    "nexus/types",
    "nexus-client",
    "package",
    "rpaths",
    "sled-agent",
    "sled-agent-client",
    "sp-sim",
    "oxide-client",
    "oximeter/oximeter",
    "oximeter/collector",
    "oximeter/db",
    "oximeter/instruments",
    "oximeter/producer",
    "oximeter/oximeter-macro-impl",
    "oximeter-client",
    "test-utils",
    "wicket",
    "end-to-end-tests",
]

default-members = [
    "common",
    "ddm-admin-client",
    "deploy",
    "gateway",
    "gateway-cli",
    "gateway-client",
    "internal-dns",
    "internal-dns-client",
    "nexus",
    "nexus/authz-macros",
    "nexus/db-macros",
    "nexus/db-model",
    "nexus/defaults",
    "nexus/passwords",
    "nexus/types",
    "nexus-client",
    "package",
    "rpaths",
    "sled-agent",
    "sled-agent-client",
    "sp-sim",
    "oxide-client",
    "oximeter/oximeter",
    "oximeter/collector",
    "oximeter/db",
    "oximeter/instruments",
    "oximeter/producer",
    "oximeter/oximeter-macro-impl",
    "oximeter-client",
    "test-utils",
]
resolver = "2"

[profile.dev]
panic = "abort"

# `bindgen` is used by `samael`'s build script; building it with optimizations
# makes that build script run ~5x faster, more than offsetting the additional
# build time added to `bindgen` itself.
[profile.dev.package.bindgen]
opt-level = 3

# `lalrpop` is used by `polar-core`'s build script; building it with
# optimizations makes that build script run ~20x faster, more than offsetting
# the additional build time added to `lalrpop` itself.
[profile.dev.package.lalrpop]
opt-level = 3

# `polar-core` is exercised heavily during the test suite and it's worthwhile to
# have it built with optimizations.
[profile.dev.package.polar-core]
opt-level = 3

# Password hashing is expensive by construction.  Build the hashing libraries
# with optimizations to significantly speed up tests.
[profile.dev.package.argon2]
opt-level = 3
[profile.dev.package.rust-argon2]
opt-level = 3


[profile.release]
panic = "abort"

#
# It's common during development to use a local copy of dropshot, propolis,
# crucible, or steno in the parent directory.  If you want to use those,
# uncomment one of these blocks.
#
#[patch."https://github.com/oxidecomputer/dropshot"]
#dropshot = { path = "../dropshot/dropshot" }
#[patch."https://github.com/oxidecomputer/steno"]
#steno = { path = "../steno" }
#[patch."https://github.com/oxidecomputer/propolis"]
#propolis-client = { path = "../propolis/lib/propolis-client" }
#[patch."https://github.com/oxidecomputer/crucible"]
#crucible-client-types = { path = "../crucible/crucible-client-types" }
#crucible-agent-client = { path = "../crucible/agent-client" }
#crucible-pantry-client = { path = "../crucible/pantry-client" }

#
# Local client generation during development.
#
#[patch."https://github.com/oxidecomputer/progenitor"]
#progenitor = { path = "../progenitor/progenitor" }
#[patch."https://github.com/oxidecomputer/typify"]
#typify = { path = "../typify/typify" }

#
# We maintain a fork of pq-sys to address upstream issues.  See the
# README.oxide.md in the "oxide" branch of our fork for details.
#
[patch.crates-io.pq-sys]
git = 'https://github.com/oxidecomputer/pq-sys'
branch = "oxide/omicron"
