[workspace]
members = [
    "api_identity",
    "bootstore",
    "bootstrap-agent-client",
    "caboose-util",
    "certificates",
    "common",
    "ddm-admin-client",
    "deploy",
    "dev-tools",
    "dns-server",
    "dns-service-client",
    "dpd-client",
    "end-to-end-tests",
    "gateway-cli",
    "gateway-client",
    "gateway-test-utils",
    "gateway",
    "illumos-utils",
    "installinator-artifact-client",
    "installinator-artifactd",
    "installinator-common",
    "installinator",
    "internal-dns-cli",
    "internal-dns",
    "ipcc-key-value",
    "key-manager",
    "nexus-client",
    "nexus",
    "nexus/authz-macros",
    "nexus/db-macros",
    "nexus/db-model",
    "nexus/db-queries",
    "nexus/defaults",
    "nexus/test-interface",
    "nexus/test-utils-macros",
    "nexus/test-utils",
    "nexus/types",
    "oxide-client",
    "oximeter-client",
    "oximeter/collector",
    "oximeter/db",
    "oximeter/instruments",
    "oximeter/oximeter-macro-impl",
    "oximeter/oximeter",
    "oximeter/producer",
    "package",
    "passwords",
    "rpaths",
    "sled-agent-client",
    "sled-agent",
    "sled-hardware",
    "sp-sim",
    "test-utils",
    "tufaceous-lib",
    "tufaceous",
    "update-engine",
    "wicket-common",
    "wicket-dbg",
    "wicket",
    "wicketd-client",
    "wicketd",
    "xtask",
]

default-members = [
    "bootstrap-agent-client",
    "bootstore",
    "caboose-util",
    "certificates",
    "common",
    "ddm-admin-client",
    "dpd-client",
    "deploy",
    "dev-tools",
    "dns-server",
    "dns-service-client",
    "gateway",
    "gateway-cli",
    "gateway-client",
    "gateway-test-utils",
    "illumos-utils",
    "installinator",
    "installinator-artifact-client",
    "installinator-artifactd",
    "installinator-common",
    "internal-dns",
    "internal-dns-cli",
    "ipcc-key-value",
    "key-manager",
    "nexus",
    "nexus-client",
    "nexus/authz-macros",
    "nexus/db-macros",
    "nexus/db-model",
    "nexus/db-queries",
    "nexus/defaults",
    "nexus/types",
    "oxide-client",
    "oximeter-client",
    "oximeter/collector",
    "oximeter/db",
    "oximeter/instruments",
    "oximeter/oximeter",
    "oximeter/oximeter-macro-impl",
    "oximeter/producer",
    "package",
    "passwords",
    "rpaths",
    "sled-agent",
    "sled-agent-client",
    "sled-hardware",
    "sp-sim",
    "test-utils",
    "tufaceous",
    "tufaceous-lib",
    "update-engine",
    "wicket",
    "wicket-common",
    "wicket-dbg",
    "wicketd",
    "wicketd-client",
    "xtask",
]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0"
api_identity = { path = "api_identity" }
assert_matches = "1.5.0"
assert_cmd = "2.0.12"
async-bb8-diesel = { git = "https://github.com/oxidecomputer/async-bb8-diesel", rev = "be3d9bce50051d8c0e0c06078e8066cc27db3001" }
async-trait = "0.1.73"
authz-macros = { path = "nexus/authz-macros" }
backoff = { version = "0.4.0", features = [ "tokio" ] }
base64 = "0.21.2"
bb8 = "0.8.1"
bcs = "0.1.5"
bincode = "1.3.3"
bootstore = { path = "bootstore" }
bootstrap-agent-client = { path = "bootstrap-agent-client" }
buf-list = { version = "1.0.3", features = ["tokio1"] }
byteorder = "1.4.3"
bytes = "1.4.0"
bytesize = "1.2.0"
camino = "1.1"
camino-tempfile = "1.0.2"
cancel-safe-futures = "0.1.2"
chacha20poly1305 = "0.10.1"
ciborium = "0.2.1"
cfg-if = "1.0"
chrono = { version = "0.4", features = [ "serde" ] }
clap = { version = "4.3", features = ["derive"] }
cookie = "0.16"
criterion = { version = "0.5.1", features = [ "async_tokio" ] }
crossbeam = "0.8"
crossterm = { version = "0.26.1", features = ["event-stream"] }
crucible-agent-client = { git = "https://github.com/oxidecomputer/crucible", rev = "84507ed89aced20920de73342666a8abcb8237c1" }
crucible-client-types = { git = "https://github.com/oxidecomputer/crucible", rev = "84507ed89aced20920de73342666a8abcb8237c1" }
crucible-pantry-client = { git = "https://github.com/oxidecomputer/crucible", rev = "84507ed89aced20920de73342666a8abcb8237c1" }
crucible-smf = { git = "https://github.com/oxidecomputer/crucible", rev = "84507ed89aced20920de73342666a8abcb8237c1" }
curve25519-dalek = "3"
datatest-stable = "0.1.3"
display-error-chain = "0.1.1"
ddm-admin-client = { path = "ddm-admin-client" }
db-macros = { path = "nexus/db-macros" }
debug-ignore = "1.0.5"
derive_more = "0.99.17"
derive-where = "1.2.1"
diesel = { version = "2.1.0" }
diesel-dtrace = { git = "https://github.com/oxidecomputer/diesel-dtrace", branch = "main" }
dns-server = { path = "dns-server" }
dns-service-client = { path = "dns-service-client" }
dpd-client = { path = "dpd-client" }
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "main", features = [ "usdt-probes" ] }
either = "1.9.0"
expectorate = "1.0.7"
fatfs = "0.3.6"
flate2 = "1.0.27"
fs-err = "2.9.0"
futures = "0.3.28"
gateway-client = { path = "gateway-client" }
gateway-messages = { git = "https://github.com/oxidecomputer/management-gateway-service", rev = "1e180ae55e56bd17af35cb868ffbd18ce487351d", default-features = false, features = ["std"] }
gateway-sp-comms = { git = "https://github.com/oxidecomputer/management-gateway-service", rev = "1e180ae55e56bd17af35cb868ffbd18ce487351d" }
gateway-test-utils = { path = "gateway-test-utils" }
glob = "0.3.1"
headers = "0.3.8"
heck = "0.4"
hex = "0.4.3"
hex-literal = "0.3.4"
hkdf = "0.12.3"
http = "0.2.9"
httptest = "0.15.4"
hubtools = { git = "https://github.com/oxidecomputer/hubtools.git", branch = "main" }
humantime = "2.1.0"
hyper = "0.14"
hyper-rustls = "0.24.1"
hyper-staticfile = "0.9.5"
illumos-utils = { path = "illumos-utils" }
indexmap = "1.9.3"
indicatif = { version = "0.17.6", features = ["rayon"] }
installinator = { path = "installinator" }
installinator-artifactd = { path = "installinator-artifactd" }
installinator-artifact-client = { path = "installinator-artifact-client" }
installinator-common = { path = "installinator-common" }
internal-dns = { path = "internal-dns" }
ipcc-key-value = { path = "ipcc-key-value" }
ipnetwork = { version = "0.20", features = ["schemars"] }
itertools = "0.11.0"
key-manager = { path = "key-manager" }
lazy_static = "1.4.0"
libc = "0.2.147"
linear-map = "1.2.0"
macaddr = { version = "1.0.1", features = ["serde_std"] }
mime_guess = "2.0.4"
mockall = "0.11"
newtype_derive = "0.1.6"
nexus-client = { path = "nexus-client" }
nexus-db-model = { path = "nexus/db-model" }
nexus-db-queries = { path = "nexus/db-queries" }
nexus-defaults = { path = "nexus/defaults" }
omicron-certificates = { path = "certificates" }
omicron-passwords = { path = "passwords" }
nexus-test-interface = { path = "nexus/test-interface" }
nexus-test-utils-macros = { path = "nexus/test-utils-macros" }
nexus-test-utils = { path = "nexus/test-utils" }
nexus-types = { path = "nexus/types" }
num-integer = "0.1.45"
num-traits = "0.2.16"
omicron-common = { path = "common" }
omicron-dev-tools = { path = "dev-tools" }
omicron-gateway = { path = "gateway" }
omicron-nexus = { path = "nexus" }
omicron-package = { path = "package" }
omicron-rpaths = { path = "rpaths" }
omicron-sled-agent = { path = "sled-agent" }
omicron-test-utils = { path = "test-utils" }
omicron-zone-package = "0.8.3"
oxide-client = { path = "oxide-client" }
oxide-vpc = { git = "https://github.com/oxidecomputer/opte", rev = "98d33125413f01722947e322f82caf9d22209434", features = [ "api", "std" ] }
once_cell = "1.18.0"
openapi-lint = { git = "https://github.com/oxidecomputer/openapi-lint", branch = "main" }
openapiv3 = "1.0"
# must match samael's crate!
openssl = "0.10"
openssl-sys = "0.9"
openssl-probe = "0.1.2"
opte-ioctl = { git = "https://github.com/oxidecomputer/opte", rev = "98d33125413f01722947e322f82caf9d22209434" }
oso = "0.26"
owo-colors = "3.5.0"
oximeter = { path = "oximeter/oximeter" }
oximeter-client = { path = "oximeter-client" }
oximeter-db = { path = "oximeter/db/" }
oximeter-collector = { path = "oximeter/collector" }
oximeter-instruments = { path = "oximeter/instruments" }
oximeter-macro-impl = { path = "oximeter/oximeter-macro-impl" }
oximeter-producer = { path = "oximeter/producer" }
p256 = "0.11"
parse-display = "0.7.0"
partial-io = { version = "0.5.4", features = ["proptest1", "tokio1"] }
paste = "1.0.14"
percent-encoding = "2.2.0"
pem = "1.1"
petgraph = "0.6.3"
postgres-protocol = "0.6.5"
predicates = "3.0.3"
pretty_assertions = "1.4.0"
pretty-hex = "0.3.0"
proc-macro2 = "1.0"
progenitor = { git = "https://github.com/oxidecomputer/progenitor", branch = "main" }
progenitor-client = { git = "https://github.com/oxidecomputer/progenitor", branch = "main" }
bhyve_api = { git = "https://github.com/oxidecomputer/propolis", rev = "77a580b7e2d3fee85ffe8513a86d2c464b7b5ed3" }
propolis-client = { git = "https://github.com/oxidecomputer/propolis", rev = "77a580b7e2d3fee85ffe8513a86d2c464b7b5ed3", features = [ "generated-migration" ] }
propolis-server = { git = "https://github.com/oxidecomputer/propolis", rev = "77a580b7e2d3fee85ffe8513a86d2c464b7b5ed3", default-features = false, features = ["mock-only"] }
#propolis-server = { path = "../propolis/bin/propolis-server" }
proptest = "1.2.0"
quote = "1.0"
rand = "0.8.5"
rayon = "1.7"
rcgen = "0.10.0"
ref-cast = "1.0"
regex = "1.9.3"
regress = "0.6.0"
reqwest = { version = "0.11", default-features = false }
ring = "0.16"
rpassword = "7.2.0"
rustfmt-wrapper = "0.2"
rustls = "0.21.6"
samael = { git = "https://github.com/njaremko/samael", features = ["xmlsec"], branch = "master" }
schemars = "0.8.12"
secrecy = "0.8.0"
semver = { version = "1.0.18", features = ["std", "serde"] }
serde = { version = "1.0", default-features = false, features = [ "derive" ] }
serde_derive = "1.0"
serde_human_bytes = { git = "http://github.com/oxidecomputer/serde_human_bytes", branch = "main" }
serde_json = "1.0.104"
serde_path_to_error = "0.1.14"
serde_tokenstream = "0.2"
serde_urlencoded = "0.7.1"
serde_with = "2.3.3"
serial_test = "0.10"
sha2 = "0.10.7"
sha3 = "0.10.8"
shell-words = "1.1.0"
signal-hook = "0.3"
signal-hook-tokio = { version = "0.3", features = [ "futures-v0_3" ] }
sled = "0.34"
sled-agent-client = { path = "sled-agent-client" }
sled-hardware = { path = "sled-hardware" }
slog = { version = "2.7", features = [ "dynamic-keys", "max_level_trace", "release_max_level_debug" ] }
slog-async = "2.7"
slog-dtrace = "0.2"
slog-envlogger = "2.2"
slog-term = "2.9"
smf = "0.2"
snafu = "0.7"
sp-sim = { path = "sp-sim" }
sprockets-common = { git = "http://github.com/oxidecomputer/sprockets", rev = "77df31efa5619d0767ffc837ef7468101608aee9" }
sprockets-host = { git = "http://github.com/oxidecomputer/sprockets", rev = "77df31efa5619d0767ffc837ef7468101608aee9" }
sprockets-rot = { git = "http://github.com/oxidecomputer/sprockets", rev = "77df31efa5619d0767ffc837ef7468101608aee9" }
static_assertions = "1.1.0"
# Please do not change the Steno version to a Git dependency.  It makes it
# harder than expected to make breaking changes (even if you specify a specific
# SHA).  Cut a new Steno release instead.  See omicron#2117.
steno = "0.4.0"
strum = { version = "0.25", features = [ "derive" ] }
subprocess = "0.2.9"
libsw = { version = "3.3.0", features = ["tokio"] }
syn = { version = "2.0" }
tar = "0.4"
tempdir = "0.3"
tempfile = "3.6"
term = "0.7"
termios = "0.3"
textwrap = "0.16.0"
test-strategy = "0.2.1"
thiserror = "1.0"
tofino = { git = "http://github.com/oxidecomputer/tofino", branch = "main" }
tokio = "1.29"
tokio-postgres = { version = "0.7", features = [ "with-chrono-0_4", "with-uuid-1" ] }
tokio-stream = "0.1.14"
tokio-tungstenite = "0.18"
tokio-util = "0.7.8"
toml = "0.7.6"
toml_edit = "0.19.14"
topological-sort = "0.2.2"
tough = { version = "0.12", features = [ "http" ] }
trust-dns-client = "0.22"
trust-dns-proto = "0.22"
trust-dns-resolver = "0.22"
trust-dns-server = "0.22"
trybuild = "1.0.82"
tufaceous = { path = "tufaceous" }
tufaceous-lib = { path = "tufaceous-lib" }
tui = "0.19.0"
unicode-width = "0.1.10"
update-engine = { path = "update-engine" }
uuid = { version = "1.4.1", features = ["serde", "v4"] }
usdt = "0.3"
walkdir = "2.3"
wicket = { path = "wicket" }
wicket-common = { path = "wicket-common" }
wicketd-client = { path = "wicketd-client" }
zeroize = { version = "1.6.0", features = ["zeroize_derive", "std"] }
zip = { version = "0.6.6", default-features = false, features = ["deflate","bzip2"] }
zone = { version = "0.2", default-features = false, features = ["async"] }

[profile.dev]
panic = "abort"

# `bindgen` is used by `samael`'s build script; building it with optimizations
# makes that build script run ~5x faster, more than offsetting the additional
# build time added to `bindgen` itself.
[profile.dev.package.bindgen]
opt-level = 3

# `lalrpop` is used by `polar-core`'s build script; building it with
# optimizations makes that build script run ~20x faster, more than offsetting
# the additional build time added to `lalrpop` itself.
[profile.dev.package.lalrpop]
opt-level = 3

# `polar-core` is exercised heavily during the test suite and it's worthwhile to
# have it built with optimizations.
[profile.dev.package.polar-core]
opt-level = 3

# Password hashing is expensive by construction.  Build the hashing libraries
# with optimizations to significantly speed up tests.
[profile.dev.package.argon2]
opt-level = 3
[profile.dev.package.rust-argon2]
opt-level = 3

[profile.release]
panic = "abort"

# proptest based test generation and shrinking is expensive. Let's optimize it.
[profile.dev.package.proptest]
opt-level = 3
[profile.test.package.proptest]
opt-level = 3

[profile.dev.package.bootstore]
opt-level = 3
[profile.test.package.bootstore]
opt-level = 3

# Crypto stuff always needs optimizations
[profile.test.package.sha3]
opt-level = 3
[profile.test.package.sha2]
opt-level = 3
[profile.test.package.hkdf]
opt-level = 3
[profile.test.package.chacha20poly1305]
opt-level = 3
[profile.test.package.chacha20]
opt-level = 3
[profile.test.package.vsss-rs]
opt-level = 3
[profile.test.package.curve25519-dalek]
opt-level = 3
[profile.test.package.aead]
opt-level = 3
[profile.test.package.aes]
opt-level = 3
[profile.test.package.aes-gcm]
opt-level = 3
[profile.test.package.bcrypt-pbkdf]
opt-level = 3
[profile.test.package.blake2]
opt-level = 3
[profile.test.package.blake2b_simd]
opt-level = 3
[profile.test.package.block-buffer]
opt-level = 3
[profile.test.package.block-padding]
opt-level = 3
[profile.test.package.blowfish]
opt-level = 3
[profile.test.package.constant_time_eq]
opt-level = 3
[profile.test.package.crypto-bigint]
opt-level = 3
[profile.test.package.crypto-common]
opt-level = 3
[profile.test.package.ctr]
opt-level = 3
[profile.test.package.cbc]
opt-level = 3
[profile.test.package.digest]
opt-level = 3
[profile.test.package.ed25519]
opt-level = 3
[profile.test.package.ed25519-dalek]
opt-level = 3
[profile.test.package.elliptic-curve]
opt-level = 3
[profile.test.package.generic-array]
opt-level = 3
[profile.test.package.getrandom]
opt-level = 3
[profile.test.package.hmac]
opt-level = 3
[profile.test.package.lpc55_sign]
opt-level = 3
[profile.test.package.md5]
opt-level = 3
[profile.test.package.md-5]
opt-level = 3
[profile.test.package.num-bigint]
opt-level = 3
[profile.test.package.num-bigint-dig]
opt-level = 3
[profile.test.package.rand]
opt-level = 3
[profile.test.package.rand_chacha]
opt-level = 3
[profile.test.package.rand_core]
opt-level = 3
[profile.test.package.rand_hc]
opt-level = 3
[profile.test.package.rand_xorshift]
opt-level = 3
[profile.test.package.rsa]
opt-level = 3
[profile.test.package.salty]
opt-level = 3
[profile.test.package.signature]
opt-level = 3
[profile.test.package.subtle]
opt-level = 3
[profile.test.package.tiny-keccak]
opt-level = 3
[profile.test.package.uuid]
opt-level = 3
[profile.test.package.cipher]
opt-level = 3
[profile.test.package.cpufeatures]
opt-level = 3
[profile.test.package.poly1305]
opt-level = 3
[profile.test.package.inout]
opt-level = 3
[profile.test.package.keccak]
opt-level = 3

#
# It's common during development to use a local copy of dropshot, propolis,
# crucible, or steno in the parent directory.  If you want to use those,
# uncomment one of these blocks.
#
#[patch."https://github.com/oxidecomputer/dropshot"]
#dropshot = { path = "../dropshot/dropshot" }
#[patch.crates-io]
#steno = { path = "../steno" }
#[patch."https://github.com/oxidecomputer/propolis"]
#propolis-client = { path = "../propolis/lib/propolis-client" }
#[patch."https://github.com/oxidecomputer/crucible"]
#crucible-agent-client = { path = "../crucible/agent-client" }
#crucible-client-types = { path = "../crucible/crucible-client-types" }
#crucible-pantry-client = { path = "../crucible/pantry-client" }
#crucible-smf = { path = "../crucible/smf" }

#
# Local client generation during development.
#
#[patch."https://github.com/oxidecomputer/progenitor"]
#progenitor = { path = "../progenitor/progenitor" }
#[patch."https://github.com/oxidecomputer/typify"]
#typify = { path = "../typify/typify" }

#
# We maintain a fork of pq-sys to address upstream issues.  See the
# README.oxide.md in the "oxide" branch of our fork for details.
#
[patch.crates-io.pq-sys]
git = 'https://github.com/oxidecomputer/pq-sys'
branch = "oxide/omicron"
