# This manifest describes packages which will be ingested by
# the "omicron-package" tool - instructing how they should be
# build, thrown into a tarball, and installed on the target system.

[package.omicron-sled-agent]
service_name = "sled-agent"
rust.binary_names = ["sled-agent"]
rust.release = true
zone = false
[[package.omicron-sled-agent.paths]]
from = "smf/sled-agent"
to = "pkg"

[package.omicron-nexus]
rust.binary_names = ["nexus"]
rust.release = true
service_name = "nexus"
zone = true
[[package.omicron-nexus.paths]]
from = "/opt/ooce/pgsql-13/lib/amd64"
to = "/opt/ooce/pgsql-13/lib/amd64"
[[package.omicron-nexus.paths]]
from = "smf/nexus"
to = "/var/svc/manifest/site/nexus"
[[package.omicron-nexus.paths]]
from = "out/console-assets"
to = "/var/nexus/static"

[package.oximeter-collector]
rust.binary_names = ["oximeter"]
rust.release = true
service_name = "oximeter"
zone = true
[[package.oximeter-collector.paths]]
from = "smf/oximeter"
to = "/var/svc/manifest/site/oximeter"

[package.clickhouse]
service_name = "clickhouse"
zone = true
[[package.clickhouse.paths]]
from = "out/clickhouse"
to = "/opt/oxide/clickhouse"
[[package.clickhouse.paths]]
from = "smf/clickhouse"
to = "/var/svc/manifest/site/clickhouse"

[package.cockroachdb]
service_name = "cockroachdb"
zone = true
[[package.cockroachdb.paths]]
from = "out/cockroachdb"
to = "/opt/oxide/cockroachdb"
[[package.cockroachdb.paths]]
from = "common/src/sql"
to = "/opt/oxide/cockroachdb/sql"
[[package.cockroachdb.paths]]
from = "smf/cockroachdb"
to = "/var/svc/manifest/site/cockroachdb"

[package.internal-dns]
rust.binary_names = ["dnsadm", "dns-server"]
rust.release = true
service_name = "internal-dns"
zone = true
[[package.internal-dns.paths]]
from = "smf/internal-dns"
to = "/var/svc/manifest/site/internal-dns"

# Packages not built within Omicron, but which must be imported.

# Refer to
#   https://github.com/oxidecomputer/crucible/blob/main/package/README.md
# for instructions on building this manually.
[external_package.crucible]
service_name = "crucible"
zone = true
[external_package.crucible.source]
# To manually override the package source (for example, to test a change in
# both Crucible and Omicron simultaneously):
#
# 1. Build the zone image manually
# 2. Copy the output zone image from crucible/out to omicron/out
# 3. Use type = "manual" instead of the "prebuilt"
type = "prebuilt"
repo = "crucible"
commit = "8314eeddd228ec0d76cefa40c4a41d3e2611ac18"
# The SHA256 digest is automatically posted to:
# https://buildomat.eng.oxide.computer/public/file/oxidecomputer/crucible/image/<commit>/crucible.sha256.txt
sha256 = "73ee7befea2d7709fe3baa358abc11faf6922d315a33b26e752363c5abcff91c"

# Refer to
#   https://github.com/oxidecomputer/propolis/blob/master/package/README.md
# for instructions on building this manually.
[external_package.propolis-server]
service_name = "propolis-server"
zone = true
[external_package.propolis-server.source]
type = "prebuilt"
repo = "propolis"
commit = "d2b8184d11d5d5f56424fe0bee13ca03d576604e"
# The SHA256 digest is automatically posted to:
# https://buildomat.eng.oxide.computer/public/file/oxidecomputer/propolis/image/<commit>/propolis-server.sha256.txt
sha256 = "b192fbaaee850e63adaf9f7fe5ff2054a9de338d70198b1d1670285057a047be"
