[package]
name = "omicron-gateway"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[dependencies]
clap = { version = "3.1", features = ["derive"] }
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "main", features = [ "usdt-probes" ] }
hex = "0.4"
ringbuffer = "0.8"
schemars = "0.8"
serde = { version = "1.0", features = ["derive"] }
slog-dtrace = "0.2"
structopt = "0.3"
thiserror = "1.0.30"
toml = "0.5.6"
uuid = "0.8"

gateway-messages = { path = "../gateway-messages", features = ["std"] }
omicron-common = { path = "../common" }

[dependencies.slog]
version = "2.7"
features = [ "max_level_trace", "release_max_level_debug" ]

[dependencies.tokio]
version = "1.16"
features = [ "full" ]

[dev-dependencies]
expectorate = "1.0.4"
omicron-test-utils = { path = "../test-utils" }
openapi-lint = { git = "https://github.com/oxidecomputer/openapi-lint", branch = "main" }
openapiv3 = "1.0"
serde_json = "1.0"
subprocess = "0.2.8"