[package]
name = "omicron-gateway"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[dependencies]
clap = { version = "3.2", features = ["derive"] }
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "main", features = [ "usdt-probes" ] }
futures = "0.3.24"
hex = "0.4"
http = "0.2.7"
hyper = "0.14.20"
schemars = "0.8"
serde = { version = "1.0", features = ["derive"] }
slog-dtrace = "0.2"
thiserror = "1.0.35"
tokio-tungstenite = "0.17"
toml = "0.5.9"
uuid = "1.1.0"

gateway-messages = { path = "../gateway-messages", features = ["std"] }
gateway-sp-comms = { path = "../gateway-sp-comms" }
omicron-common = { path = "../common" }

[dependencies.slog]
version = "2.7"
features = [ "max_level_trace", "release_max_level_debug" ]

[dependencies.tokio]
version = "1.21"
features = [ "full" ]

[dev-dependencies]
expectorate = "1.0.5"
http = "0.2.7"
omicron-test-utils = { path = "../test-utils" }
openapi-lint = { git = "https://github.com/oxidecomputer/openapi-lint", branch = "main" }
openapiv3 = "1.0"
serde_json = "1.0"
sp-sim = { path = "../sp-sim" }
subprocess = "0.2.9"
tokio-tungstenite = "0.17"
