[package]
name = "gateway-sp-comms"
version = "0.1.0"
edition = "2018"
license = "MPL-2.0"

[dependencies]
futures = "0.3.21"
http = "0.2.7"
hyper = "0.14.17"
ringbuffer = "0.8"
serde = { version = "1.0", features = ["derive"] }
serde_with = "1.13.0"
thiserror = "1.0.31"
tokio-tungstenite = "0.17"
tokio-stream = "0.1.8"
usdt = "0.3.1"
uuid = "1.0"

gateway-messages = { path = "../gateway-messages", features = ["std"] }
omicron-common = { path = "../common" }

[dependencies.slog]
version = "2.7"
features = [ "max_level_trace", "release_max_level_debug" ]

[dependencies.tokio]
version = "1.18"
features = [ "full" ]

[dev-dependencies]
once_cell = "1.9"
omicron-test-utils = { path = "../test-utils" }
