[package]
name = "gateway-sp-comms"
version = "0.1.0"
edition = "2018"
license = "MPL-2.0"

[dependencies]
futures = "0.3.24"
once_cell = "1.14.0"
serde = { version = "1.0", features = ["derive"] }
serde_with = "2.0.1"
thiserror = "1.0.35"
tokio-stream = "0.1.10"
usdt = "0.3.1"
uuid = "1.1.0"
zip = { version = "0.6.2", default-features = false, features = ["deflate","bzip2"] }

gateway-messages = { path = "../gateway-messages", features = ["std"] }
omicron-common = { path = "../common" }

[dependencies.slog]
version = "2.7"
features = [ "max_level_trace", "release_max_level_debug" ]

[dependencies.tokio]
version = "1.21"
features = [ "full" ]

[dev-dependencies]
omicron-test-utils = { path = "../test-utils" }
