[package]
name = "oximeter-collector"
version = "0.1.0"
edition = "2021"
description = "The oximeter metric collection server"
license = "MPL-2.0"

[dependencies]
clap = { version = "3.2", features = ["derive"] }
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "main", features = [ "usdt-probes" ] }
internal-dns-client = { path = "../../internal-dns-client" }
nexus-client = { path = "../../nexus-client" }
omicron-common = { path = "../../common" }
oximeter = { path = "../oximeter" }
oximeter-db = { path = "../db" }
reqwest = { version = "0.11.12", features = [ "json" ] }
serde = { version = "1", features = [ "derive" ] }
slog = { version = "2.5", features = [ "max_level_trace", "release_max_level_debug" ] }
slog-dtrace = "0.2"
thiserror = "1.0.35"
tokio = "1.21"
toml = "0.5.9"
uuid = { version = "1.1.0", features = [ "v4", "serde" ] }

[dev-dependencies]
expectorate = "1.0.5"
omicron-test-utils = { path = "../../test-utils" }
openapiv3 = "1.0"
serde_json = "1.0.85"
subprocess = "0.2.9"

[dev-dependencies.openapi-lint]
git = "https://github.com/oxidecomputer/openapi-lint"
branch = "main"
