[package]
name = "oximeter-collector"
version = "0.1.0"
edition = "2021"
description = "The oximeter metric collection server"
license = "MPL-2.0"

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
camino.workspace = true
chrono.workspace = true
clap.workspace = true
dropshot.workspace = true
futures.workspace = true
internal-dns-resolver.workspace = true
internal-dns-types.workspace = true
nexus-types.workspace = true
omicron-common.workspace = true
oxide-tokio-rt.workspace = true
oximeter.workspace = true
oximeter-api.workspace = true
oximeter-client.workspace = true
oximeter-db.workspace = true
qorb.workspace = true
rand.workspace = true
regex.workspace = true
reqwest = { workspace = true, features = [ "json" ] }
schemars.workspace = true
semver.workspace = true
serde.workspace = true
slog.workspace = true
slog-async.workspace = true
slog-error-chain.workspace = true
slog-dtrace.workspace = true
slog-term.workspace = true
strum.workspace = true
thiserror.workspace = true
tokio.workspace = true
toml.workspace = true
usdt.workspace = true
uuid.workspace = true
omicron-workspace-hack.workspace = true
nexus-client.workspace = true
opentelemetry.workspace = true
opentelemetry_sdk.workspace = true
opentelemetry-otlp.workspace = true

[dev-dependencies]
expectorate.workspace = true
httpmock.workspace = true
omicron-test-utils.workspace = true
openapi-lint.workspace = true
openapiv3.workspace = true
serde_json.workspace = true
subprocess.workspace = true
