[package]
name = "oximeter-collector"
version = "0.1.0"
edition = "2021"
description = "The oximeter metric collection server"
license = "MPL-2.0"

[dependencies]
clap.workspace = true
dropshot.workspace = true
futures.workspace = true
internal-dns-names.workspace = true
nexus-client.workspace = true
omicron-common.workspace = true
oximeter.workspace = true
oximeter-db.workspace = true
reqwest = { workspace = true, features = [ "json" ] }
serde.workspace = true
slog.workspace = true
slog-dtrace.workspace = true
thiserror.workspace = true
tokio.workspace = true
toml.workspace = true
uuid.workspace = true

[dev-dependencies]
expectorate.workspace = true
omicron-test-utils.workspace = true
openapi-lint.workspace = true
openapiv3.workspace = true
serde_json.workspace = true
subprocess.workspace = true
