[package]
name = "oximeter-collector"
version = "0.1.0"
edition = "2021"
description = "The oximeter metric collection server"

[dependencies]
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "main" }
omicron-common = { path = "../../common" }
oximeter = { path = "../oximeter" }
oximeter-db = { path = "../db" }
pq-sys = "*"
reqwest = { version = "0.11.4", features = [ "json" ] }
serde = { version = "1", features = [ "derive" ] }
slog = { version = "2.5", features = [ "max_level_trace", "release_max_level_debug" ] }
structopt = "0.3"
thiserror = "1.0.26"
tokio = "1.12"
toml = "0.5.8"
uuid = { version = "0.8.2", features = [ "v4", "serde" ] }

[dev-dependencies]
expectorate = "1.0.4"
omicron-test-utils = { path = "../../test-utils" }
openapiv3 = "0.5.0"
serde_json = "1.0.68"
subprocess = "0.2.8"

[build-dependencies]
omicron-rpaths = { path = "../../rpaths" }

[dev-dependencies.openapi-lint]
git = "https://github.com/oxidecomputer/openapi-lint"
branch = "main"