[package]
name = "nexus-types"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
base64.workspace = true
chrono.workspace = true
clap.workspace = true
clickhouse-admin-types.workspace = true
cookie.workspace = true
daft.workspace = true
derive-where.workspace = true
derive_more.workspace = true
dropshot.workspace = true
futures.workspace = true
http.workspace = true
humantime.workspace = true
iddqd.workspace = true
id-map.workspace = true
illumos-utils.workspace = true
indent_write.workspace = true
ipnetwork.workspace = true
itertools.workspace = true
newtype_derive.workspace = true
omicron-cockroach-metrics.workspace = true
omicron-uuid-kinds.workspace = true
openssl.workspace = true
oxql-types.workspace = true
oxnet.workspace = true
parse-display.workspace = true
regex.workspace = true
schemars = { workspace = true, features = ["chrono", "uuid1", "url"] }
serde.workspace = true
serde_json.workspace = true
serde_with.workspace = true
slog.workspace = true
slog-error-chain.workspace = true
steno.workspace = true
strum.workspace = true
tabled.workspace = true
textwrap.workspace = true
thiserror.workspace = true
tokio.workspace = true
tufaceous-artifact.workspace = true
newtype-uuid.workspace = true
update-engine.workspace = true
unicode-width.workspace = true
uuid.workspace = true
url = { workspace = true, features = ["serde"] }

api_identity.workspace = true
gateway-client.workspace = true
gateway-types.workspace = true
internal-dns-types.workspace = true
nexus-sled-agent-shared.workspace = true
omicron-common.workspace = true
omicron-passwords.workspace = true
omicron-workspace-hack.workspace = true
semver.workspace = true
tough.workspace = true
# Note: we're trying to avoid a dependency from nexus-types to sled-agent-types
# because the correct direction of dependency is unclear. If there are types
# common to both, put them in `omicron-common` or `nexus-sled-agent-shared`.

[dev-dependencies]
proptest.workspace = true
test-strategy.workspace = true
