[package]
name = "nexus-types"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[dependencies]
anyhow.workspace = true
chrono.workspace = true
base64.workspace = true
openssl.workspace = true
openssl-sys.workspace = true
openssl-probe.workspace = true
schemars = { workspace = true, features = ["chrono", "uuid1"] }
serde.workspace = true
serde_json.workspace = true
uuid.workspace = true

api_identity.workspace = true
omicron-common.workspace = true
