[package]
name = "nexus-reconfigurator-preparation"
version = "0.1.0"
edition.workspace = true

[lints]
workspace = true

[build-dependencies]
omicron-rpaths.workspace = true

[dependencies]
anyhow.workspace = true
futures.workspace = true
nexus-db-model.workspace = true
nexus-db-queries.workspace = true
nexus-types.workspace = true
omicron-common.workspace = true
omicron-uuid-kinds.workspace = true
# See omicron-rpaths for more about the "pq-sys" dependency.
pq-sys = "*"
sled-agent-types.workspace = true
sled-hardware-types.workspace = true
slog.workspace = true
slog-error-chain.workspace = true
strum.workspace = true

omicron-workspace-hack.workspace = true
