[package]
name = "caboose-util"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
hubtools.workspace = true
omicron-workspace-hack.workspace = true
