[package]
name = "oximeter-macro-impl"
version = "0.1.0"
authors = ["Benjamin Naecker <ben@oxide.computer>"]
edition = "2021"
license = "MPL-2.0"

[lib]
proc-macro = true

[dependencies]
bytes = { workspace = true, features = [ "serde" ] }
proc-macro2.workspace = true
quote.workspace = true
syn = { workspace = true, features = [ "full", "extra-traits" ] }
