[package]
name = "oximeter-macro-impl"
version = "0.1.0"
authors = ["Benjamin Naecker <ben@oxide.computer>"]
edition = "2021"
license = "MPL-2.0"

[lib]
proc-macro = true

[dependencies.bytes]
version = "1.2.1"
features = ["serde"]

[dependencies.proc-macro2]
version = "1.0.42"

[dependencies.quote]
version = "1.0.21"

[dependencies.syn]
version = "1.0.100"
features = [ "full", "derive", "extra-traits" ]
