[package]
name = "sled-diagnostics"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
cfg-if.workspace = true
fs-err.workspace = true
futures.workspace = true
libc.workspace = true
omicron-workspace-hack.workspace = true
schemars.workspace = true
serde.workspace = true
slog.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["full"] }
