[package]
name = "sled-diagnostics"
version = "0.1.0"
edition = "2021"

[dependencies]
futures.workspace = true
omicron-workspace-hack.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["full"] }
