[package]
name = "wicket-dbg"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
bytes.workspace = true
camino.workspace = true
ciborium.workspace = true
clap.workspace = true
crossterm.workspace = true
oxide-tokio-rt.workspace = true
serde.workspace = true
slog.workspace = true
slog-async.workspace = true
slog-term.workspace = true
slog-envlogger.workspace = true
tokio = { workspace = true, features = ["full"] }
wicket.workspace = true

# used only by wicket-dbg binary
reedline.workspace = true
omicron-workspace-hack.workspace = true

[[bin]]
name = "wicket-dbg"

[[bin]]
name = "wicket-dbg-server"
