[package]
name = "omicron-sled-agent"
description = "Services for managing sled-local resources"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
base64.workspace = true
bincode.workspace = true
bytes.workspace = true
cfg-if.workspace = true
chrono.workspace = true
clap.workspace = true
# Only used by the simulated sled agent.
crucible-client-types.workspace = true
crucible-agent-client.workspace = true
ddm-admin-client.workspace = true
dns-server.workspace = true
dns-service-client.workspace = true
dropshot.workspace = true
flate2.workspace = true
futures.workspace = true
illumos-utils.workspace = true
internal-dns.workspace = true
ipnetwork.workspace = true
libc.workspace = true
macaddr.workspace = true
nexus-client.workspace = true
omicron-common.workspace = true
once_cell.workspace = true
oxide-vpc.workspace = true
oximeter.workspace = true
oximeter-producer.workspace = true
p256.workspace = true
percent-encoding.workspace = true
progenitor.workspace = true
propolis-client.workspace = true
rand = { workspace = true, features = ["getrandom"] }
reqwest = { workspace = true, features = ["rustls-tls", "stream"] }
schemars = { workspace = true, features = [ "chrono", "uuid1" ] }
semver.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_with.workspace = true
sled-agent-client.workspace = true
sled-hardware.workspace = true
slog.workspace = true
slog-dtrace.workspace = true
smf.workspace = true
sp-sim.workspace = true
sprockets-common.workspace = true
sprockets-host.workspace = true
tar.workspace = true
tempfile.workspace = true
thiserror.workspace = true
tofino.workspace = true
tokio = { workspace = true, features = [ "full" ] }
tokio-tungstenite.workspace = true
toml.workspace = true
uuid.workspace = true
vsss-rs.workspace = true
zone.workspace = true

[target.'cfg(target_os = "illumos")'.dependencies]
opte-ioctl.workspace = true

[dev-dependencies]
assert_matches.workspace = true
expectorate.workspace = true
http.workspace = true
mockall.workspace = true
omicron-test-utils.workspace = true
openapi-lint.workspace = true
openapiv3.workspace = true
serial_test.workspace = true
subprocess.workspace = true
slog-async.workspace = true
slog-term.workspace = true

illumos-utils = { workspace = true, features = ["testing"] }

#
# Disable doc builds by default for our binaries to work around issue
# rust-lang/cargo#8373.  These docs would not be very useful anyway.
#
[[bin]]
name = "sled-agent-sim"
doc = false

[[bin]]
name = "sled-agent"
doc = false
