[package]
name = "omicron-sled-agent"
description = "Services for managing sled-local resources"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[dependencies]
anyhow = "1.0.66"
async-trait = "0.1.59"
bincode = "1.3.3"
bytes = "1.3"
cfg-if = "1.0"
chrono = { version = "0.4", features = [ "serde" ] }
clap = { version = "4.0", features = ["derive"] }
# Only used by the simulated sled agent.
crucible-client-types = { git = "https://github.com/oxidecomputer/crucible", rev = "861a09c350fd0e127b6105c8099e31a0bc3b711a" }
crucible-agent-client = { git = "https://github.com/oxidecomputer/crucible", rev = "861a09c350fd0e127b6105c8099e31a0bc3b711a" }
ddm-admin-client = { path = "../ddm-admin-client" }
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "main", features = [ "usdt-probes" ] }
futures = "0.3.25"
internal-dns-client = { path = "../internal-dns-client" }
ipnetwork = "0.20"
libc = "0.2.137"
macaddr = { version = "1.0.1", features = [ "serde_std" ] }
nexus-client = { path = "../nexus-client" }
omicron-common = { path = "../common" }
oxide-vpc = { git = "https://github.com/oxidecomputer/opte", rev = "23fdf5856f10f23e2d26865d2d7e2d3bc537bca3", features = [ "api", "std" ] }
oximeter = { version = "0.1.0", path = "../oximeter/oximeter" }
oximeter-producer = { version = "0.1.0", path = "../oximeter/producer" }
p256 = "0.9.0"
percent-encoding = "2.2.0"
progenitor = { git = "https://github.com/oxidecomputer/progenitor", branch = "main" }
propolis-client = { git = "https://github.com/oxidecomputer/propolis", rev = "e58937fea67aca6bc2d37a3cc50a72291328ae0e", features = [ "generated-migration" ] }
rand = { version = "0.8.5", features = ["getrandom"] }
reqwest = { version = "0.11.13", default-features = false, features = ["rustls-tls", "stream"] }
schemars = { version = "0.8.10", features = [ "chrono", "uuid1" ] }
serde = { version = "1.0", features = [ "derive" ] }
serde_json = "1.0"
serde_with = "2.1.0"
sled-agent-client = { path = "../sled-agent-client" }
slog = { version = "2.5", features = [ "max_level_trace", "release_max_level_debug" ] }
slog-dtrace = "0.2"
smf = "0.2"
spdm = { git = "https://github.com/oxidecomputer/spdm", rev = "9742f6e" }
sp-sim = { path = "../sp-sim" }
sprockets-common = { git = "http://github.com/oxidecomputer/sprockets", rev = "77df31efa5619d0767ffc837ef7468101608aee9" }
sprockets-host = { git = "http://github.com/oxidecomputer/sprockets", rev = "77df31efa5619d0767ffc837ef7468101608aee9" }
socket2 = { version = "0.4", features = [ "all" ] }
tar = "0.4"
tempfile = "3.3"
thiserror = "1.0"
tokio = { version = "1.22", features = [ "full" ] }
tokio-tungstenite = "0.18.0"
tokio-util = { version = "0.7", features = ["codec"] }
toml = "0.5.9"
uuid = { version = "1.2.2", features = [ "serde", "v4" ] }
vsss-rs = { version = "2.0.0", default-features = false, features = ["std"] }
zone = { version = "0.2", default-features = false, features = ["async"] }

[target.'cfg(target_os = "illumos")'.dependencies]
illumos-devinfo = { git = "https://github.com/oxidecomputer/illumos-devinfo", rev = "8fca0709e5137a3758374cb41ab1bfc60b03e6a9" }
opte-ioctl = { git = "https://github.com/oxidecomputer/opte", rev = "23fdf5856f10f23e2d26865d2d7e2d3bc537bca3" }

[dev-dependencies]
expectorate = "1.0.5"
http = "0.2.7"
mockall = "0.11"
omicron-test-utils = { path = "../test-utils" }
openapi-lint = { git = "https://github.com/oxidecomputer/openapi-lint", branch = "main" }
openapiv3 = "1.0"
serial_test = "0.9"
subprocess = "0.2.9"
slog-async = "2.6"
slog-term = "2.9"

#
# Disable doc builds by default for our binaries to work around issue
# rust-lang/cargo#8373.  These docs would not be very useful anyway.
#
[[bin]]
name = "sled-agent-sim"
doc = false

[[bin]]
name = "sled-agent"
doc = false
