[package]
name = "omicron-sled-agent"
description = "Services for managing sled-local resources"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
base64.workspace = true
bincode.workspace = true
bootstore.workspace = true
bootstrap-agent-client.workspace = true
bytes.workspace = true
camino.workspace = true
camino-tempfile.workspace = true
cancel-safe-futures.workspace = true
cfg-if.workspace = true
chrono.workspace = true
clap.workspace = true
# Only used by the simulated sled agent.
crucible-client-types.workspace = true
crucible-agent-client.workspace = true
ddm-admin-client.workspace = true
derive_more.workspace = true
dns-server.workspace = true
dns-service-client.workspace = true
dpd-client.workspace = true
dropshot.workspace = true
flate2.workspace = true
futures.workspace = true
glob.workspace = true
http.workspace = true
hyper-staticfile.workspace = true
gateway-client.workspace = true
illumos-utils.workspace = true
internal-dns.workspace = true
ipnetwork.workspace = true
itertools.workspace = true
key-manager.workspace = true
libc.workspace = true
macaddr.workspace = true
nexus-client.workspace = true
omicron-common.workspace = true
once_cell.workspace = true
oximeter.workspace = true
oximeter-producer.workspace = true
percent-encoding.workspace = true
progenitor.workspace = true
propolis-client = { workspace = true, features = [ "generated-migration" ] }
propolis-server.workspace = true # Only used by the simulated sled agent
rand = { workspace = true, features = ["getrandom"] }
reqwest = { workspace = true, features = ["rustls-tls", "stream"] }
schemars = { workspace = true, features = [ "chrono", "uuid1" ] }
semver.workspace = true
serde.workspace = true
serde_json.workspace = true
sha3.workspace = true
sled-agent-client.workspace = true
sled-hardware.workspace = true
slog.workspace = true
slog-async.workspace = true
slog-dtrace.workspace = true
slog-term.workspace = true
smf.workspace = true
tar.workspace = true
thiserror.workspace = true
tofino.workspace = true
tokio = { workspace = true, features = [ "full" ] }
tokio-tungstenite.workspace = true
toml.workspace = true
usdt.workspace = true
uuid.workspace = true
zeroize.workspace = true
zone.workspace = true
static_assertions.workspace = true
omicron-workspace-hack.workspace = true

[target.'cfg(target_os = "illumos")'.dependencies]
opte-ioctl.workspace = true

[dev-dependencies]
assert_matches.workspace = true
expectorate.workspace = true
http.workspace = true
hyper.workspace = true
omicron-test-utils.workspace = true
openapi-lint.workspace = true
openapiv3.workspace = true
pretty_assertions.workspace = true
rcgen.workspace = true
serial_test.workspace = true
subprocess.workspace = true
slog-async.workspace = true
slog-term.workspace = true
tempfile.workspace = true

illumos-utils = { workspace = true, features = ["testing"] }

#
# Disable doc builds by default for our binaries to work around issue
# rust-lang/cargo#8373.  These docs would not be very useful anyway.
#
[[bin]]
name = "sled-agent-sim"
doc = false

[[bin]]
name = "sled-agent"
doc = false

[features]
image-standard = []
image-trampoline = []
machine-gimlet = []
machine-gimlet-standalone = []
machine-non-gimlet = []
switch-asic = []
switch-stub = []
switch-softnpu = []
rack-topology-single-sled = []
rack-topology-multi-sled = []
