[package]
name = "omicron-sled-agent"
version = "0.1.0"
edition = "2018"
license = "MPL-2.0"

[dependencies]
anyhow = "1.0.55"
async-trait = "0.1.51"
bincode = "1.3.3"
bytes = "1.1"
cfg-if = "1.0"
chrono = { version = "0.4", features = [ "serde" ] }
# Only used by the simulated sled agent.
crucible-agent-client = { git = "https://github.com/oxidecomputer/crucible", rev = "79e30b132f398351213d929402173d37cdc60b81" }
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "main", features = [ "usdt-probes" ] }
futures = "0.3.21"
ipnetwork = "0.18"
nexus-client = { path = "../nexus-client" }
omicron-common = { path = "../common" }
p256 = "0.9.0"
percent-encoding = "2.1.0"
progenitor = { git = "https://github.com/oxidecomputer/progenitor" }
propolis-client = { git = "https://github.com/oxidecomputer/propolis", rev = "0e3798510ae190131f63b9df767ec01b2beacf91" }
rand = { version = "0.8.5", features = ["getrandom"] }
reqwest = "0.11.8"
schemars = { version = "0.8", features = [ "chrono", "uuid" ] }
serde = { version = "1.0", features = [ "derive" ] }
serde_json = "1.0"
slog = { version = "2.5", features = [ "max_level_trace", "release_max_level_debug" ] }
slog-dtrace = "0.2"
smf = "0.2"
spdm = { git = "https://github.com/oxidecomputer/spdm", rev = "9742f6e" }
socket2 = { version = "0.4", features = [ "all" ] }
structopt = "0.3"
tar = "0.4"
tempfile = "3.3"
thiserror = "1.0"
tokio = { version = "1.17", features = [ "full" ] }
tokio-util = { version = "0.7", features = ["codec"] }
toml = "0.5.6"
uuid = { version = "0.8", features = [ "serde", "v4" ] }
vsss-rs = { version = "2.0.0-pre0", features = ["std"] }
zone = "0.1"

[dev-dependencies]
expectorate = "1.0.4"
http = "0.2.5"
mockall = "0.11"
omicron-test-utils = { path = "../test-utils" }
openapi-lint = { git = "https://github.com/oxidecomputer/openapi-lint", branch = "main" }
openapiv3 = "1.0"
serial_test = "0.6"
subprocess = "0.2.8"
slog-async = "2.6"
slog-term = "2.9"

#
# Disable doc builds by default for our binaries to work around issue
# rust-lang/cargo#8373.  These docs would not be very useful anyway.
#
[[bin]]
name = "sled-agent-sim"
doc = false

[[bin]]
name = "sled-agent"
doc = false

[[bin]]
name = "sled-agent-overlay-files"
doc = false
