[package]
name = "sled-agent-zone-images"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
camino.workspace = true
id-map.workspace = true
illumos-utils.workspace = true
nexus-sled-agent-shared.workspace = true
omicron-common.workspace = true
omicron-workspace-hack.workspace = true
serde_json.workspace = true
sled-agent-config-reconciler.workspace = true
sled-storage.workspace = true
slog.workspace = true
slog-error-chain.workspace = true
thiserror.workspace = true

[dev-dependencies]
camino-tempfile-ext.workspace = true
dropshot.workspace = true
omicron-uuid-kinds.workspace = true
pretty_assertions.workspace = true
sled-agent-config-reconciler = { workspace = true, features = ["testing"] }
