[package]
name = "wicketd"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[dependencies]
clap.workspace = true
dropshot.workspace = true
futures.workspace = true
http.workspace = true
hyper.workspace = true
reqwest.workspace = true
schemars.workspace = true
serde.workspace = true
slog.workspace = true
slog-dtrace.workspace = true
tokio = { workspace = true, features = [ "full" ] }
snafu.workspace = true
toml.workspace = true
uuid.workspace = true

gateway-client.workspace = true
omicron-common.workspace = true

[[bin]]
name = "wicketd"
doc = false

[dev-dependencies]
expectorate.workspace = true
http.workspace = true
omicron-test-utils.workspace = true
openapi-lint.workspace = true
openapiv3.workspace = true
serde_json.workspace = true
subprocess.workspace = true
