[package]
name = "wicketd"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
base64.workspace = true
buf-list.workspace = true
bytes.workspace = true
camino-tempfile.workspace = true
camino.workspace = true
clap.workspace = true
debug-ignore.workspace = true
display-error-chain.workspace = true
dpd-client.workspace = true
dropshot.workspace = true
either.workspace = true
flume.workspace = true
futures.workspace = true
gateway-messages.workspace = true
hex.workspace = true
hickory-resolver.workspace = true
http.workspace = true
http-body-util.workspace = true
hubtools.workspace = true
hyper.workspace = true
illumos-utils.workspace = true
internal-dns-resolver.workspace = true
internal-dns-types.workspace = true
itertools.workspace = true
oxnet.workspace = true
reqwest.workspace = true
schemars.workspace = true
serde.workspace = true
serde_json.workspace = true
sha2.workspace = true
slog-dtrace.workspace = true
slog.workspace = true
thiserror.workspace = true
tufaceous-artifact.workspace = true
tufaceous-lib.workspace = true
tokio = { workspace = true, features = [ "full" ] }
tokio-stream.workspace = true
tokio-util.workspace = true
toml.workspace = true
tough.workspace = true
transceiver-controller.workspace = true
uuid.workspace = true

bootstrap-agent-client.workspace = true
omicron-ddm-admin-client.workspace = true
gateway-client.workspace = true
installinator-api.workspace = true
installinator-common.workspace = true
omicron-certificates.workspace = true
omicron-common.workspace = true
omicron-passwords.workspace = true
omicron-uuid-kinds.workspace = true
sled-hardware-types.workspace = true
update-common.workspace = true
update-engine.workspace = true
wicket-common.workspace = true
wicketd-api.workspace = true
wicketd-client.workspace = true
omicron-workspace-hack.workspace = true
semver.workspace = true

[[bin]]
name = "wicketd"
doc = false

[dev-dependencies]
expectorate.workspace = true
flate2.workspace = true
fs-err.workspace = true
gateway-test-utils.workspace = true
http.workspace = true
installinator.workspace = true
installinator-client.workspace = true
maplit.workspace = true
nexus-sled-agent-shared.workspace = true
omicron-test-utils.workspace = true
openapi-lint.workspace = true
openapiv3.workspace = true
rand.workspace = true
serde_json.workspace = true
sled-agent-zone-images.workspace = true
subprocess.workspace = true
tar.workspace = true
tokio = { workspace = true, features = ["test-util"] }
tufaceous.workspace = true
wicket.workspace = true
