[package]
name = "omicron-sled-agent"
version = "0.1.0"
edition = "2018"

[dependencies]
async-trait = "0.1.50"
cfg-if = "1.0"
chrono = { version = "0.4", features = [ "serde" ] }
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "main" }
futures = "0.3.15"
http = "0.2.0"
hyper = "0.14"
ipnet = "2.3"
omicron-common = { path = "../omicron-common" }
propolis-client = { git = "https://github.com/oxidecomputer/propolis", rev = "e4d83b1fe8" }
schemars = { version = "0.8", features = [ "chrono", "uuid" ] }
serde = { version = "1.0", features = [ "derive" ] }
serde_json = "1.0"
slog = { version = "2.5", features = [ "max_level_trace", "release_max_level_debug" ] }
smf = "0.2"
structopt = "0.3"
tokio = { version = "1.8", features = [ "full" ] }
uuid = { version = "0.8", features = [ "serde", "v4" ] }
zone = "0.1"

[dev-dependencies]
expectorate = "1.0.1"
mockall = "0.10"
serial_test = "0.5"
subprocess = "0.2.7"

#
# Disable doc builds by default for our binaries to work around issue
# rust-lang/cargo#8373.  These docs would not be very useful anyway.
#
[[bin]]
name = "sled-agent-sim"
doc = false

[[bin]]
name = "sled-agent"
doc = false
