[package]
name = "nexus-reconfigurator-execution"
version = "0.1.0"
edition.workspace = true

[lints]
workspace = true

[build-dependencies]
omicron-rpaths.workspace = true

[dependencies]
anyhow.workspace = true
camino.workspace = true
clickhouse-admin-keeper-client.workspace = true
clickhouse-admin-server-client.workspace = true
clickhouse-admin-single-client.workspace = true
clickhouse-admin-types.workspace = true
cockroach-admin-client.workspace = true
chrono.workspace = true
futures.workspace = true
iddqd.workspace = true
id-map.workspace = true
internal-dns-resolver.workspace = true
internal-dns-types.workspace = true
newtype-uuid.workspace = true
nexus-config.workspace = true
nexus-db-lookup.workspace = true
nexus-db-model.workspace = true
nexus-db-queries.workspace = true
nexus-mgs-updates.workspace = true
nexus-networking.workspace = true
nexus-sled-agent-shared.workspace = true
nexus-types.workspace = true
omicron-common.workspace = true
omicron-uuid-kinds.workspace = true
oxnet.workspace = true
reqwest.workspace = true
sled-agent-client.workspace = true
slog.workspace = true
slog-error-chain.workspace = true
tokio.workspace = true
update-engine.workspace = true
uuid.workspace = true

# See omicron-rpaths for more about the "pq-sys" dependency.  This is needed
# because we use the database in the test suite, though it doesn't appear to
# work to put the pq-sys dependency only in dev-dependencies.
pq-sys = "*"

omicron-workspace-hack.workspace = true

[dev-dependencies]
async-bb8-diesel.workspace = true
diesel.workspace = true
httptest.workspace = true
ipnet.workspace = true
ipnetwork.workspace = true
nexus-db-queries = { workspace = true, features = ["testing"] }
nexus-db-schema.workspace = true
nexus-reconfigurator-planning.workspace = true
nexus-reconfigurator-preparation.workspace = true
nexus-inventory.workspace = true
nexus-test-utils.workspace = true
nexus-test-utils-macros.workspace = true
omicron-nexus.workspace = true
omicron-test-utils.workspace = true
