#
# Oxide API: example configuration file
#

[console]
# Directory for static assets. Absolute path or relative to CWD.
static_dir = "out/console-assets"
session_idle_timeout_minutes = 480 # 6 hours
session_absolute_timeout_minutes = 1440 # 24 hours

# List of authentication schemes to support.
[authn]
schemes_external = ["session_cookie", "access_token"]

[log]
# Show log messages of this level and more severe
level = "info"

# Example output to a terminal (with colors)
mode = "stderr-terminal"

# Example output to a file, appending if it already exists.
#mode = "file"
#path = "logs/server.log"
#if_exists = "append"

# Configuration for interacting with the timeseries database
[timeseries_db]
address = "[::1]:8123"

[deployment]
# Identifier for this instance of Nexus
id = "e6bff1ff-24fb-49dc-a54e-c6a350cd4d6c"
rack_id = "c19a698f-c6f9-4a17-ae30-20d711b8f7dc"

[deployment.dropshot_external]
# IP Address and TCP port on which to listen for the external API
bind_address = "127.0.0.1:12220"
# Allow larger request bodies (1MiB) to accomodate firewall endpoints (one
# rule is ~500 bytes)
request_body_max_bytes = 1048576
# To have Nexus's external HTTP endpoint use TLS, uncomment the line below.  You
# will also need to provide an initial TLS certificate during rack
# initialization.  If you're using this config file, you're probably running a
# simulated system.  In that case, the initial certificate is provided to the
# simulated sled agent (acting as RSS) via command-line arguments.
tls = true

[deployment.dropshot_internal]
# IP Address and TCP port on which to listen for the internal API
bind_address = "[::1]:12221"
request_body_max_bytes = 1048576

[deployment.subnet]
net = "fd00:1122:3344:0100::/56"

[deployment.database]
# URL for connecting to the database
type = "from_url"
url = "postgresql://root@127.0.0.1:32221/omicron?sslmode=disable"

# Tunable configuration parameters, for testing or experimentation
[tunables]

# The maximum allowed prefix (thus smallest size) for a VPC Subnet's
# IPv4 subnetwork. This size allows for ~60 hosts.
max_vpc_ipv4_subnet_prefix = 26

# Configuration for interacting with the dataplane daemon
[dendrite]
address = "[::1]:12224"

[background_tasks]
dns_internal.period_secs_config = 60
dns_internal.period_secs_servers = 60
dns_internal.period_secs_propagation = 60
dns_internal.max_concurrent_server_updates = 5
dns_external.period_secs_config = 60
dns_external.period_secs_servers = 60
dns_external.period_secs_propagation = 60
dns_external.max_concurrent_server_updates = 5
# How frequently we check the list of stored TLS certificates.  This is
# approximately an upper bound on how soon after updating the list of
# certificates it will take _other_ Nexus instances to notice and stop serving
# them (on a sunny day).
external_endpoints.period_secs = 60
