#
# Oxide API: example configuration file
#

[console]
# Directory for static assets. Absolute path or relative to CWD.
static_dir = "out/console-assets"
cache_control_max_age_minutes = 10
session_idle_timeout_minutes = 60
session_absolute_timeout_minutes = 480

# List of authentication schemes to support.
#
# This is not fleshed out yet and the only reason to change it now is for
# working on authentication or authorization.
[authn]
# TODO(https://github.com/oxidecomputer/omicron/issues/372): Remove "spoof".
schemes_external = ["spoof", "session_cookie", "access_token"]

[log]
# Show log messages of this level and more severe
level = "info"

# Example output to a terminal (with colors)
mode = "stderr-terminal"

# Example output to a file, appending if it already exists.
#mode = "file"
#path = "logs/server.log"
#if_exists = "append"

# Configuration for interacting with the timeseries database
[timeseries_db]
address = "[::1]:8123"

[deployment]
# Identifier for this instance of Nexus
id = "e6bff1ff-24fb-49dc-a54e-c6a350cd4d6c"
rack_id = "c19a698f-c6f9-4a17-ae30-20d711b8f7dc"
external_ip = "127.0.0.1"
internal_ip = "127.0.0.1"

[deployment.subnet]
net = "fd00:1122:3344:0100::/56"

[deployment.database]
# URL for connecting to the database
type = "from_url"
url = "postgresql://root@127.0.0.1:32221/omicron?sslmode=disable"

# Tunable configuration parameters, for testing or experimentation
[tunables]

# The maximum allowed prefix (thus smallest size) for a VPC Subnet's
# IPv4 subnetwork. This size allows for ~60 hosts.
max_vpc_ipv4_subnet_prefix = 26
