#
# Oxide API: example configuration file
#

[dropshot_external]
# IP address and TCP port on which to listen for the external API
bind_address = "127.0.0.1:12220"
request_body_max_bytes = 1024

[dropshot_internal]
# IP address and TCP port on which to listen for the internal API
bind_address = "127.0.0.1:12221"
request_body_max_bytes = 1024

[log]
# Show log messages of this level and more severe
level = "info"

# Example output to a terminal (with colors)
mode = "stderr-terminal"

# Example output to a file, appending if it already exists.
#mode = "file"
#path = "logs/server.log"
#if_exists = "append"
