[package]
name = "installinator"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
buf-list.workspace = true
bytes.workspace = true
camino.workspace = true
camino-tempfile.workspace = true
cancel-safe-futures.workspace = true
clap.workspace = true
daft.workspace = true
display-error-chain.workspace = true
futures.workspace = true
hex.workspace = true
http.workspace = true
iddqd.workspace = true
illumos-utils.workspace = true
installinator-client.workspace = true
installinator-common.workspace = true
ipcc.workspace = true
itertools.workspace = true
libc.workspace = true
omicron-common.workspace = true
omicron-ddm-admin-client.workspace = true
omicron-uuid-kinds.workspace = true
reqwest.workspace = true
sha2.workspace = true
serde_json.workspace = true
sled-hardware.workspace = true
sled-hardware-types.workspace = true
sled-storage.workspace = true
slog.workspace = true
slog-async.workspace = true
slog-envlogger.workspace = true
slog-error-chain.workspace = true
slog-term.workspace = true
smf.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["full"] }
tufaceous-artifact.workspace = true
tufaceous-lib.workspace = true
update-engine.workspace = true
omicron-workspace-hack.workspace = true

[dev-dependencies]
omicron-test-utils.workspace = true
hex-literal.workspace = true
partial-io.workspace = true
proptest.workspace = true
test-strategy.workspace = true
tokio = { workspace = true, features = ["test-util"] }
tokio-stream.workspace = true

[features]
image-standard = []
