# Sled Agent Configuration

id = "fb0f7546-4d46-40ca-9d56-cbb810684ca7"

# TODO: Remove this address

# Internal address of Nexus
nexus_address = "[fd00:1122:3344:0101::3]:12221"

# A file-backed zpool can be manually created with the following:
# # truncate -s 10GB testpool.vdev
# # zpool create oxp_d462a7f7-b628-40fe-80ff-4e4189e2d62b "$PWD/testpool.vdev"
#
# Note that you'll need to create one such zpool for each below, with a
# different vdev for each.
zpools = [
  "oxp_d462a7f7-b628-40fe-80ff-4e4189e2d62b",
  "oxp_e4b4dc87-ab46-49fb-a4b4-d361ae214c03",
  "oxp_f4b4dc87-ab46-49fb-a4b4-d361ae214c03",
]

# An optional data link from which we extract a MAC address.
# This is used as a unique identifier for the bootstrap address.
#
# If empty, this will be equivalent to the first result from:
# $ dladm show-phys -p -o LINK
# data_link = "igb0"

# Address of Internet gateway
#
# NOTE: In the lab, use "172.20.15.225"
gateway_address = "192.168.1.1"

[log]
level = "info"
mode = "file"
path = "/dev/stdout"
if_exists = "append"
