[package]
name = "oximeter-producer"
version = "0.1.0"
edition.workspace = true
description = "Crate for producing metric data to be collected by the Oxide control plane"
license = "MPL-2.0"

[lints]
workspace = true

[dependencies]
chrono.workspace = true
dropshot.workspace = true
internal-dns-resolver.workspace = true
internal-dns-types.workspace = true
nexus-client.workspace = true
omicron-common.workspace = true
oximeter.workspace = true
schemars = { workspace = true, features = [ "uuid1", "bytes", "chrono" ] }
serde.workspace = true
slog.workspace = true
slog-dtrace.workspace = true
tokio.workspace = true
thiserror.workspace = true
uuid.workspace = true
omicron-workspace-hack.workspace = true

[dev-dependencies]
anyhow.workspace = true
clap.workspace = true
omicron-test-utils.workspace = true
serde_json.workspace = true
slog-term.workspace = true
