[package]
name = "oxide-client"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
base64.workspace = true
chrono.workspace = true
futures.workspace = true
http.workspace = true
hyper.workspace = true
progenitor.workspace = true
rand.workspace = true
regress.workspace = true
reqwest = { workspace = true, features = [ "json", "rustls-tls", "stream" ] }
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = [ "net" ] }
trust-dns-resolver.workspace = true
uuid.workspace = true
omicron-workspace-hack.workspace = true
