[package]
name = "clickhouse-admin-types"
version = "0.1.0"
edition.workspace = true
license = "MPL-2.0"

[lints]
workspace = true

[dependencies]
clickhouse-admin-types-versions.workspace = true
omicron-workspace-hack.workspace = true
