[package]
name = "nexus-test-utils-macros"
version = "0.1.0"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
quote.workspace = true
syn = { workspace = true, features = ["fold", "parsing"] }
