[package]
name = "oximeter-db"
version = "0.1.0"
edition = "2021"
description = "Tools for interacting with the Oxide control plane telemetry database"
license = "MPL-2.0"

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
bytes = { workspace = true, features = [ "serde" ] }
chrono.workspace = true
clap.workspace = true
dropshot.workspace = true
oximeter = { path = "../oximeter" }
regex.workspace = true
reqwest = { workspace = true, features = [ "json" ] }
schemars = { workspace = true, features = [ "uuid1", "bytes", "chrono" ] }
serde.workspace = true
serde_json.workspace = true
slog.workspace = true
slog-async.workspace = true
slog-term.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = [ "rt-multi-thread", "macros" ] }
uuid = { workspace = true, features = [ "serde", "v4" ] }

[dev-dependencies]
itertools.workspace = true
omicron-test-utils = { path = "../../test-utils" }
slog-dtrace.workspace = true

[[bin]]
name = "oxdb"
doc = false
