[package]
name = "oximeter-db"
version = "0.1.0"
edition = "2021"
description = "Tools for interacting with the Oxide control plane telemetry database"
license = "MPL-2.0"

[dependencies]
anyhow = "1.0"
async-trait = "0.1.53"
bytes = { version = "1.0.1", features = [ "serde" ] }
chrono = { version = "0.4.19", features = [ "serde" ] }
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "main", features = [ "usdt-probes" ] }
oximeter = { path = "../oximeter" }
regex = "1.5.5"
reqwest = { version = "0.11.8", features = [ "json" ] }
schemars = { version = "0.8.8", features = [ "uuid", "bytes", "chrono" ] }
serde = { version = "1", features = [ "derive" ] }
serde_json = "1.0.79"
slog = { version = "2.5", features = [ "max_level_trace", "release_max_level_debug" ] }
slog-async = "2.6"
slog-term = "2.9"
structopt = "0.3"
thiserror = "1.0.30"
tokio = { version = "1.17", features = [ "rt-multi-thread", "macros" ] }
uuid = { version = "0.8.2", features = [ "v4", "serde" ] }

[dev-dependencies]
itertools = "0.10.1"
omicron-test-utils = { path = "../../test-utils" }
slog-dtrace = "0.2.1"

[[bin]]
name = "oxdb"
doc = false
