[package]
name = "oximeter-db"
version = "0.1.0"
edition = "2021"
description = "Tools for interacting with the Oxide control plane telemetry database"
license = "MPL-2.0"

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
bcs.workspace = true
bytes = { workspace = true, features = [ "serde" ] }
camino.workspace = true
chrono.workspace = true
clap.workspace = true
dropshot.workspace = true
highway.workspace = true
omicron-common.workspace = true
oximeter.workspace = true
regex.workspace = true
reqwest = { workspace = true, features = [ "json" ] }
schemars = { workspace = true, features = [ "uuid1", "bytes", "chrono" ] }
serde.workspace = true
serde_json.workspace = true
slog.workspace = true
slog-async.workspace = true
slog-term.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = [ "rt-multi-thread", "macros" ] }
usdt.workspace = true
uuid.workspace = true
omicron-workspace-hack.workspace = true

[dev-dependencies]
expectorate.workspace = true
itertools.workspace = true
omicron-test-utils.workspace = true
serial_test.workspace = true
slog-dtrace.workspace = true
strum.workspace = true
tempfile.workspace = true

[[bin]]
name = "oxdb"
doc = false
