[package]
name = "oximeter-db"
version = "0.1.0"
edition = "2021"
description = "Tools for interacting with the Oxide control plane telemetry database"
license = "MPL-2.0"

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
async-recursion = "1.1.1"
async-trait.workspace = true
bcs.workspace = true
camino.workspace = true
chrono.workspace = true
chrono-tz.workspace = true
clap.workspace = true
const_format.workspace = true
clickward.workspace = true
debug-ignore.workspace = true
dropshot.workspace = true
futures.workspace = true
gethostname.workspace = true
highway.workspace = true
iana-time-zone.workspace = true
indexmap.workspace = true
libc.workspace = true
nom.workspace = true
num.workspace = true
omicron-common.workspace = true
omicron-workspace-hack.workspace = true
omicron-runtime.workspace = true
oximeter.workspace = true
oxql-types.workspace = true
parse-display.workspace = true
qorb.workspace = true
regex.workspace = true
serde.workspace = true
serde_json.workspace = true
slog.workspace = true
slog-async.workspace = true
slog-dtrace.workspace = true
slog-error-chain.workspace = true
slog-term.workspace = true
strum.workspace = true
termtree.workspace = true
thiserror.workspace = true
tokio-util.workspace = true
usdt.workspace = true
uuid.workspace = true

[dependencies.bytes]
workspace = true
features = [ "serde" ]

[dependencies.crossterm]
workspace = true
optional = true

[dependencies.display-error-chain]
workspace = true
optional = true

[dependencies.peg]
workspace = true
optional = true

[dependencies.reedline]
workspace = true
optional = true

[dependencies.reqwest]
workspace = true
features = [ "json" ]

[dependencies.rustyline]
workspace = true
optional = true

[dependencies.schemars]
workspace = true
features = [ "uuid1", "bytes", "chrono" ]

[dependencies.sqlformat]
workspace = true
optional = true

[dependencies.sqlparser]
workspace = true
optional = true

[dependencies.tabled]
workspace = true
optional = true

[dependencies.tokio]
workspace = true
features = [ "rt-multi-thread", "macros" ]

[build-dependencies]
anyhow.workspace = true
nom.workspace = true
quote.workspace = true

[dev-dependencies]
assert_matches.workspace = true
camino-tempfile.workspace = true
criterion = { workspace = true, features = [ "async_tokio" ] }
expectorate.workspace = true
itertools.workspace = true
omicron-test-utils.workspace = true
oximeter-test-utils.workspace = true
slog-dtrace.workspace = true
sqlformat.workspace = true
sqlparser.workspace = true
strum.workspace = true
tempfile.workspace = true

[features]
default = [ "native-sql-shell", "oxql", "sql" ]
sql = [
    "dep:reedline",
    "dep:rustyline",
    "dep:sqlformat",
    "dep:sqlparser",
    "dep:tabled"
]
oxql = [
    "dep:crossterm",
    "dep:peg",
    "dep:reedline",
    "dep:tabled",
]
native-sql-shell = [
    "dep:crossterm",
    "dep:display-error-chain",
    "dep:reedline",
    "dep:rustyline",
    "dep:sqlformat",
    "dep:sqlparser",
    "dep:tabled"
]

[[bin]]
name = "oxdb"
doc = false

[[bench]]
name = "protocol"
harness = false
