[package]
name = "oximeter-db"
version = "0.1.0"
edition = "2018"
description = "Tools for interacting with the Oxide control plane telemetry database"

[dependencies]
anyhow = "1.0"
async-trait = "0.1.51"
bytes = { version = "1.0.1", features = [ "serde" ] }
chrono = { version = "0.4.19", features = [ "serde" ] }
oximeter = { path = "../oximeter" }
reqwest = { version = "0.11.6", features = [ "json" ] }
schemars = { version = "0.8.6", features = [ "uuid", "bytes", "chrono" ] }
serde = { version = "1", features = [ "derive" ] }
serde_json = "1.0.68"
slog = { version = "2.5", features = [ "max_level_trace", "release_max_level_debug" ] }
slog-async = "2.6"
slog-term = "2.8"
structopt = "0.3"
thiserror = "1.0.30"
tokio = "1.12"
uuid = { version = "0.8.2", features = [ "v4", "serde" ] }

[dev-dependencies]
omicron-test-utils = { path = "../../test-utils" }

[[bin]]
name = "oxdb"
doc = false
