#
# Oxide API: partial configuration file
#

[console]
# Directory for static assets. Absolute path or relative to CWD.
static_dir = "/var/nexus/static"
session_idle_timeout_minutes = 480 # 8 hours
session_absolute_timeout_minutes = 1440 # 24 hours

[authn]
schemes_external = ["session_cookie", "access_token"]

[log]
# Show log messages of this level and more severe
level = "debug"
mode = "file"
path = "/dev/stdout"
if_exists = "append"

# This allows Nexus to see the CRDB schema, and apply schema updates when it
# boots.
[schema]
schema_dir = "/var/nexus/schema/crdb"

[background_tasks]
dns_internal.period_secs_config = 60
dns_internal.period_secs_servers = 60
dns_internal.period_secs_propagation = 60
dns_internal.max_concurrent_server_updates = 5
dns_external.period_secs_config = 60
dns_external.period_secs_servers = 60
dns_external.period_secs_propagation = 60
dns_external.max_concurrent_server_updates = 5
metrics_producer_gc.period_secs = 60
# How frequently we check the list of stored TLS certificates.  This is
# approximately an upper bound on how soon after updating the list of
# certificates it will take _other_ Nexus instances to notice and stop serving
# them (on a sunny day).
external_endpoints.period_secs = 60
nat_cleanup.period_secs = 30
bfd_manager.period_secs = 30
# How frequently to check for a new inventory collection (made by any Nexus).
# This is cheap, so we should check frequently.
inventory.period_secs_load = 15
# How frequently to collect hardware/software inventory from the whole system
# (even if we don't have reason to believe anything has changed).
inventory.period_secs_collect = 600
# Maximum number of past collections to keep in the database
inventory.nkeep = 3
# Disable inventory collection altogether (for emergencies)
inventory.disable_collect = false
phantom_disks.period_secs = 30
physical_disk_adoption.period_secs = 30
support_bundle_collector.period_secs = 30
decommissioned_disk_cleaner.period_secs = 60
blueprints.period_secs_load = 10
blueprints.period_secs_plan = 60
blueprints.period_secs_execute = 60
blueprints.period_secs_rendezvous = 300
blueprints.period_secs_collect_crdb_node_ids = 180
blueprints.period_secs_load_reconfigurator_config = 5
sync_service_zone_nat.period_secs = 30
switch_port_settings_manager.period_secs = 30
region_replacement.period_secs = 30
region_replacement_driver.period_secs = 10
service_firewall_propagation.period_secs = 300
v2p_mapping_propagation.period_secs = 30
instance_watcher.period_secs = 30
abandoned_vmm_reaper.period_secs = 60
saga_recovery.period_secs = 600
lookup_region_port.period_secs = 60
instance_updater.period_secs = 30
# How frequently to attempt to restart Failed instances?
instance_reincarnation.period_secs = 60
region_snapshot_replacement_start.period_secs = 30
region_snapshot_replacement_garbage_collection.period_secs = 30
region_snapshot_replacement_step.period_secs = 30
region_snapshot_replacement_finish.period_secs = 30
tuf_artifact_replication.period_secs = 300
tuf_artifact_replication.min_sled_replication = 1
tuf_repo_pruner.period_secs = 300
# How many extra recent target releases to keep
# The system always keeps two: the current release and the previous one.
# This number is in addition to that.
tuf_repo_pruner.nkeep_extra_target_releases = 1
# How many extra recently uploaded repos to keep
# The system always keeps one, assuming that the operator may be about to
# update to it.  This number is in addition to that.
tuf_repo_pruner.nkeep_extra_newly_uploaded = 1
read_only_region_replacement_start.period_secs = 30
# In general, the webhook dispatcher will be activated when events are queued,
# so we don't need to periodically activate it *that* frequently.
alert_dispatcher.period_secs = 60
webhook_deliverator.period_secs = 60
sp_ereport_ingester.period_secs = 30
# Disabled in R16, as the Hubris task that handles ereport ingestion requests
# has not merged yet, and trying to ingest them will just result in Nexus
# logging a bunch of errors.
sp_ereport_ingester.disable = true

[default_region_allocation_strategy]
# by default, allocate without requirement for distinct sleds.
# seed is omitted so a new seed will be chosen with every allocation.
type = "random"
