[package]
name = "nexus-sled-agent-shared"
version = "0.1.0"
edition = "2021"

[lints]
workspace = true

[dependencies]
camino.workspace = true
chrono.workspace = true
daft.workspace = true
iddqd.workspace = true
id-map.workspace = true
illumos-utils.workspace = true
omicron-common.workspace = true
omicron-passwords.workspace = true
omicron-uuid-kinds.workspace = true
omicron-workspace-hack.workspace = true
# TODO: replace uses of propolis_client with local types
schemars.workspace = true
serde.workspace = true
serde_json.workspace = true
sled-hardware-types.workspace = true
slog.workspace = true
strum.workspace = true
thiserror.workspace = true
tufaceous-artifact.workspace = true
uuid.workspace = true
