[package]
name = "nexus-sled-agent-shared"
version = "0.1.0"
edition.workspace = true

[lints]
workspace = true

[dependencies]
camino.workspace = true
chrono.workspace = true
daft.workspace = true
iddqd.workspace = true
illumos-utils.workspace = true
indent_write.workspace = true
omicron-common.workspace = true
omicron-passwords.workspace = true
omicron-uuid-kinds.workspace = true
omicron-workspace-hack.workspace = true
# TODO: replace uses of propolis_client with local types
proptest = { workspace = true, optional = true }
schemars.workspace = true
serde.workspace = true
serde_json.workspace = true
sled-hardware-types.workspace = true
strum.workspace = true
test-strategy = { workspace = true, optional = true }
thiserror.workspace = true
tufaceous-artifact.workspace = true
uuid.workspace = true

[dev-dependencies]
proptest.workspace = true
test-strategy.workspace = true

[features]
testing = ["dep:proptest", "dep:test-strategy"]
