[package]
name = "sled-storage"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait.workspace = true
camino.workspace = true
cfg-if.workspace = true
derive_more.workspace = true
glob.workspace = true
illumos-utils.workspace = true
key-manager.workspace = true
omicron-common.workspace = true
rand.workspace = true
schemars = { workspace = true, features = [ "chrono", "uuid1" ] }
serde.workspace = true
serde_json.workspace = true
sled-hardware.workspace = true
slog.workspace = true
thiserror.workspace = true
tokio.workspace = true
uuid.workspace = true
omicron-workspace-hack.workspace = true

[dev-dependencies]
illumos-utils = { workspace = true, features = ["tmp_keypath", "testing"] }
omicron-test-utils.workspace = true
camino-tempfile.workspace = true

[features]
# Quotas and the like can be shrunk via this feature
testing = []
