[package]
name = "sled-storage"
version = "0.1.0"
edition.workspace = true

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
camino.workspace = true
camino-tempfile.workspace = true
cfg-if.workspace = true
debug-ignore.workspace = true
derive_more.workspace = true
glob.workspace = true
futures.workspace = true
iddqd.workspace = true
illumos-utils.workspace = true
key-manager.workspace = true
omicron-common.workspace = true
omicron-uuid-kinds.workspace = true
schemars = { workspace = true, features = [ "chrono", "uuid1" ] }
serde.workspace = true
serde_json.workspace = true
sled-hardware.workspace = true
slog.workspace = true
slog-error-chain.workspace = true
thiserror.workspace = true
tokio.workspace = true
tokio-stream.workspace = true
uuid.workspace = true
omicron-workspace-hack.workspace = true
xshell.workspace = true

[dev-dependencies]
expectorate.workspace = true
illumos-utils = { workspace = true, features = ["testing"] }
omicron-test-utils.workspace = true

[features]
# Quotas and the like can be shrunk via this feature
testing = ["sled-hardware/testing"]
