# NOTE: The recommended version should be in sync with the version in
# .github/buildomat/build-and-test.sh.
#
# The required version should be bumped up if we need new features, performance
# improvements or bugfixes that are present in newer versions of nextest.
nextest-version = { required = "0.9.98", recommended = "0.9.98" }

experimental = ["setup-scripts", "wrapper-scripts"]


[[profile.default.scripts]]
# Exclude omicron-dev tests from crdb-seed as we explicitly want to simulate an
# environment where the seed file doesn't exist.
# Exclude omicron-live-tests because those don't need this and also don't have
# it available in the environment in which they run.
filter = 'rdeps(nexus-test-utils) - package(omicron-dev) - package(omicron-live-tests)'
setup = 'crdb-seed'

[profile.ci]
fail-fast = false

[profile.ci.junit]
path = "junit.xml"

[scripts.setup.crdb-seed]
# Use the test profile for this executable since that's how almost all
# invocations of nextest happen.
command = 'cargo run -p crdb-seed --profile test'

[[profile.default.scripts]]
filter = 'package(omicron-clickhouse-admin)'
setup = 'clickhouse-cluster'

[scripts.setup.clickhouse-cluster]
command = 'cargo run -p clickhouse-cluster-dev'

[test-groups]
# The ClickHouse cluster tests currently rely on a hard-coded set of ports for
# the nodes in the cluster. We would like to relax this in the future, at which
# point this test-group configuration can be removed or at least loosened to
# support testing in parallel. For now, enforce strict serialization for all
# tests with `replicated` in the name.
clickhouse-cluster = { max-threads = 1 }
# While most Omicron tests operate with their own simulated control plane, the
# live-tests operate on a more realistic, shared control plane and test
# behaviors that conflict with each other.  They need to be run serially.
live-tests = { max-threads = 1 }

[profile.default]
default-filter = 'all() - package(omicron-live-tests) - package(end-to-end-tests)'

[[profile.default.overrides]]
# These tests are quite slow and can hold up the run, so run them first.
filter = 'package(oximeter-db) and test(=client::tests::test_replicated) + test(test_action_failure_can_unwind)'
priority = 20

[[profile.default.overrides]]
filter = 'package(oximeter-db) and test(replicated) + package(omicron-clickhouse-admin)'
test-group = 'clickhouse-cluster'
# client::tests::test_replicated is part of this filter, but it's matched with
# the higher priority (20) first. The other tests in this group are run after
# that.
priority = 10

[[profile.default.overrides]]
# These tests can time out under heavy contention.
filter = 'binary_id(omicron-nexus::test_all) and test(::schema::)'
threads-required = 4

[[profile.ci.overrides]]
filter = 'binary_id(omicron-nexus::test_all)'
# As of 2023-01-08, the slowest test in test_all takes 196s on a Ryzen 7950X.
# 900s is a good upper limit that adds a comfortable buffer.
slow-timeout = { period = '60s', terminate-after = 15 }

[profile.live-tests]
default-filter = 'package(omicron-live-tests)'

[[profile.live-tests.overrides]]
filter = 'package(omicron-live-tests)'
test-group = 'live-tests'

[scripts.wrapper.pfexec]
command = 'pfexec'

[[profile.default.scripts]]
filter = 'package(sled-hardware) and test(compare_nvme_to_blkdev_nodes)'
run-wrapper = 'pfexec'
platform = { host = 'cfg(target_os = "illumos")' }

