[package]
name = "xtask-downloader"
version = "0.1.0"
edition.workspace = true
license = "MPL-2.0"

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
camino.workspace = true
clap.workspace = true
flate2.workspace = true
futures.workspace = true
omicron-workspace-hack.workspace = true
reqwest.workspace = true
sha2.workspace = true
slog.workspace = true
slog-async.workspace = true
slog-term.workspace = true
strum.workspace = true
tar.workspace = true
tempfile.workspace = true
tokio.workspace = true
