#
# Oxide API: example configuration file
#

# Maximum number of host phase2 trampoline images we're willing to cache. Note
# that this value is specified in terms of _number of images_, not bytes, and
# our cache is in-memory. We expect this value to be small in production,
# potentially even 1 (i.e., only keep the most-recently-uploaded image).
host_phase2_recovery_image_cache_max_images = 1

[dropshot]
default_request_body_max_bytes = 1048576

[switch]
# Which interface is connected to our local sidecar SP (i.e., the SP that acts
# as our contact to the ignition controller)?
local_ignition_controller_interface = "sidecar0"

[switch.rpc_retry_config]
# When sending UDP RPC packets to an SP (other than to reset it), how many total
# attempts do we make before giving up?
max_attempts_general = 5

# When sending UDP RPC packets to an SP (to reset it), how many total attempts
# do we make before giving up?
max_attempts_reset = 30

# sleep time between UDP RPC resends (up to `max_attempts_*`)
per_attempt_timeout_millis = 2000

# Possible locations where MGS could be running.
#
# The `name` of each location description will appear in logs and in the
# remainder of the `[switch.*]` configuration to define port mappings.
#
# The `local_sled` of each location description specifies the `slot` of the
# `SpIdentifier` for the sled on which this MGS is running. (The
# `SpIdentifier::typ` value is implicitly `SpType::Sled`.)
#
# `allow_local_sled_sp_reset` determines whether MGS will accept a request to
# perform an SP reset on its own local sled. This is dangerous during SP
# updates, because the "reset" operation involves a watchdog that requires MGS
# to send a "disarm the watchdog" message _after_ the reset, which it can't do
# if it just powered itself off. In production, we set this to `false` for both
# sleds; this means a scrimlet's SP can only be reset via MGS on the _other_
# scrimlet. (We allow this to be `true` in tests and other dev environments
# where rejecting reset attempts is too restrictive.)
[[switch.location.description]]
name = "switch0"
local_sled = 14
allow_local_sled_sp_reset = false

[[switch.location.description]]
name = "switch1"
local_sled = 16
allow_local_sled_sp_reset = false

# `[[switch.location.determination]]` is a list of switch ports we should
# contact in order to determine our location; each port defines a subset of
# `[switch.location.names]` which are the possible location(s) of this MGS
# instance if the message was received on the given SP port. When MGS starts, it
# will send a discovery message on each port listed in this section, collect the
# responses, and determine its location via the intersection of the names listed
# below (for all ports which returned a successful response). This process can
# fail if too few SPs respond (leaving us with 2 or more possible locations) or
# if there is a miscabling that results in an unsolvable system (e.g.,
# determination 0 reports "switch0" and determination 1 reports "switch1").
[[switch.location.determination]]
# We can use any gimlet as a determinant for our location - they should either
# all respond "port 1" or all "port 2", which determines which switch we are.
interfaces = [
    "gimlet0", "gimlet1", "gimlet2", "gimlet3",
    "gimlet4", "gimlet5", "gimlet6", "gimlet7",
    "gimlet8", "gimlet9", "gimlet10", "gimlet11",
    "gimlet12", "gimlet13", "gimlet14", "gimlet15",
    "gimlet16", "gimlet17", "gimlet18", "gimlet19",
    "gimlet20", "gimlet21", "gimlet22", "gimlet23",
    "gimlet24", "gimlet25", "gimlet26", "gimlet27",
    "gimlet28", "gimlet29", "gimlet30", "gimlet31"
]
sp_port_1 = ["switch0"]
sp_port_2 = ["switch1"]

# `[[switch.port.*]]` defines the local data link address (in RFD 250 terms, the
# interface configured to use VLAN tag  assigned to the given port) and the
# logical ID of the remote SP ("sled 7", "switch 1", etc.), which must have an
# entry for each member of `[[switch.location.description]]` above.
[[switch.port]]
kind = "switch-zone-interface"
interface = "sidecar0"
# NOTE: ignition-target 35 does not exist on rev-b sidecars. We configure it
# here because it is present on rev-c and later, but requests involving it on
# rev-b will fail.
ignition-target = 35
location = { switch0 = ["switch", 0], switch1 = ["switch", 1] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "sidecar1"
ignition-target = 34
location = { switch0 = ["switch", 1], switch1 = ["switch", 0] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "psc0"
ignition-target = 32
location = { switch0 = ["power", 0], switch1 = ["power", 0] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "psc1"
ignition-target = 33
location = { switch0 = ["power", 1], switch1 = ["power", 1] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet0"
ignition-target = 14
location = { switch0 = ["sled", 0], switch1 = ["sled", 0] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet1"
ignition-target = 30
location = { switch0 = ["sled", 1], switch1 = ["sled", 1] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet2"
ignition-target = 15
location = { switch0 = ["sled", 2], switch1 = ["sled", 2] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet3"
ignition-target = 31
location = { switch0 = ["sled", 3], switch1 = ["sled", 3] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet4"
ignition-target = 13
location = { switch0 = ["sled", 4], switch1 = ["sled", 4] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet5"
ignition-target = 29
location = { switch0 = ["sled", 5], switch1 = ["sled", 5] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet6"
ignition-target = 12
location = { switch0 = ["sled", 6], switch1 = ["sled", 6] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet7"
ignition-target = 28
location = { switch0 = ["sled", 7], switch1 = ["sled", 7] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet8"
ignition-target = 10
location = { switch0 = ["sled", 8], switch1 = ["sled", 8] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet9"
ignition-target = 26
location = { switch0 = ["sled", 9], switch1 = ["sled", 9] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet10"
ignition-target = 11
location = { switch0 = ["sled", 10], switch1 = ["sled", 10] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet11"
ignition-target = 27
location = { switch0 = ["sled", 11], switch1 = ["sled", 11] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet12"
ignition-target = 9
location = { switch0 = ["sled", 12], switch1 = ["sled", 12] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet13"
ignition-target = 25
location = { switch0 = ["sled", 13], switch1 = ["sled", 13] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet14"
ignition-target = 8
location = { switch0 = ["sled", 14], switch1 = ["sled", 14] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet15"
ignition-target = 24
location = { switch0 = ["sled", 15], switch1 = ["sled", 15] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet16"
ignition-target = 4
location = { switch0 = ["sled", 16], switch1 = ["sled", 16] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet17"
ignition-target = 20
location = { switch0 = ["sled", 17], switch1 = ["sled", 17] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet18"
ignition-target = 5
location = { switch0 = ["sled", 18], switch1 = ["sled", 18] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet19"
ignition-target = 21
location = { switch0 = ["sled", 19], switch1 = ["sled", 19] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet20"
ignition-target = 7
location = { switch0 = ["sled", 20], switch1 = ["sled", 20] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet21"
ignition-target = 23
location = { switch0 = ["sled", 21], switch1 = ["sled", 21] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet22"
ignition-target = 6
location = { switch0 = ["sled", 22], switch1 = ["sled", 22] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet23"
ignition-target = 22
location = { switch0 = ["sled", 23], switch1 = ["sled", 23] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet24"
ignition-target = 0
location = { switch0 = ["sled", 24], switch1 = ["sled", 24] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet25"
ignition-target = 16
location = { switch0 = ["sled", 25], switch1 = ["sled", 25] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet26"
ignition-target = 1
location = { switch0 = ["sled", 26], switch1 = ["sled", 26] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet27"
ignition-target = 17
location = { switch0 = ["sled", 27], switch1 = ["sled", 27] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet28"
ignition-target = 3
location = { switch0 = ["sled", 28], switch1 = ["sled", 28] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet29"
ignition-target = 19
location = { switch0 = ["sled", 29], switch1 = ["sled", 29] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet30"
ignition-target = 2
location = { switch0 = ["sled", 30], switch1 = ["sled", 30] }

[[switch.port]]
kind = "switch-zone-interface"
interface = "gimlet31"
ignition-target = 18
location = { switch0 = ["sled", 31], switch1 = ["sled", 31] }

[log]
level = "info"
mode = "file"
path = "/dev/stdout"
if_exists = "append"
