[package]
name = "omicron-common"
version = "0.1.0"
edition = "2018"

[dependencies]
anyhow = "1.0"
futures = "0.3.1"
http = "0.2.0"
hyper = "0.14"
libc = "0.2.71"
ring = "0.16"
serde_json = "1.0"
signal-hook = "0.3"
structopt = "0.3"
tar = "0.4"
tempfile = "3.0"
thiserror = "1.0"
toml = "0.5.6"
walkdir = "2.3"

[dependencies.api_identity]
path = "../api_identity"

[dependencies.backoff]
version = "0.3.0"
features = [ "tokio" ]

[dependencies.chrono]
version = "0.4"
features = [ "serde" ]

[dependencies.dropshot]
git = "https://github.com/oxidecomputer/dropshot"
branch = "main"

[dependencies.schemars]
version = "0.8"
features = [ "chrono", "uuid" ]

[dependencies.serde]
version = "1.0"
features = [ "derive" ]

[dependencies.signal-hook-tokio]
version = "0.3"
features = [ "futures-v0_3" ]

[dependencies.slog]
version = "2.5"
features = [ "max_level_trace", "release_max_level_debug" ]

[dependencies.tokio]
version = "1.0"
features = [ "full" ]

[dependencies.tokio-postgres]
version = "0.7"
features = [ "with-chrono-0_4", "with-uuid-0_8" ]

[dependencies.uuid]
version = "0.8"
features = [ "serde", "v4" ]

[dev-dependencies]
expectorate = "1.0.1"
serde_urlencoded = "0.6.1"

#
# Disable doc builds by default for our binaries to work around issue
# rust-lang/cargo#8373.  These docs would not be very useful anyway.
#
[[bin]]
name = "omicron-dev"
doc = false
[[bin]]
name = "omicron-package"
doc = false

[profile.dev]
panic = "abort"
[profile.release]
panic = "abort"
