[package]
name = "end-to-end-tests"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[dependencies]
anyhow = { workspace = true, features = ["backtrace"] }
async-trait.workspace = true
base64.workspace = true
camino.workspace = true
chrono.workspace = true
futures.workspace = true
hickory-resolver.workspace = true
http.workspace = true
omicron-sled-agent.workspace = true
omicron-test-utils.workspace = true
oxide-client.workspace = true
rand.workspace = true
reqwest.workspace = true
russh = "0.38.0"
russh-keys = "0.38.0"
serde_json.workspace = true
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
toml.workspace = true
uuid.workspace = true
omicron-workspace-hack.workspace = true
