[package]
name = "end-to-end-tests"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[dependencies]
anyhow = { workspace = true, features = ["backtrace"] }
async-trait.workspace = true
base64.workspace = true
omicron-sled-agent.workspace = true
omicron-test-utils.workspace = true
oxide-client = { path = "../oxide-client" }
rand.workspace = true
reqwest.workspace = true
russh = "0.35.0-beta.9"
russh-keys = "0.24.0"
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
