[package]
name = "end-to-end-tests"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[dependencies]
anyhow = { version = "1.0.68", features = ["backtrace"] }
async-trait = "0.1.60"
base64 = "0.20.0"
omicron-sled-agent = { path = "../sled-agent" }
omicron-test-utils = { path = "../test-utils" }
oxide-client = { path = "../oxide-client" }
rand = "0.8.5"
reqwest = { version = "0.11.13", default-features = false }
russh = "0.35.0-beta.8"
russh-keys = "0.23.0-beta.1"
tokio = { version = "1.23.0", features = ["macros", "rt-multi-thread"] }
