[package]
name = "oxide-client"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[dependencies]
futures = "0.3.25"
progenitor = { git = "https://github.com/oxidecomputer/progenitor", branch = "main" }
regress = "0.4.1"
serde_json = "1.0.89"
base64 = "0.13"
rand = "0.8"

[dependencies.chrono]
version = "0.4"
features = [ "serde" ]

[dependencies.reqwest]
version = "0.11"
default-features = false
features = ["rustls-tls", "stream"]

[dependencies.serde]
version = "1.0"
features = [ "derive" ]

[dependencies.tokio]
version = "1.22.0"
features = [ "net" ]

[dependencies.uuid]
version = "1.2.2"
features = [ "serde", "v4" ]
