[package]
name = "omicron-package"
description = "Tools for building and installing Omicron packages"
version = "0.1.0"
edition.workspace = true
license = "MPL-2.0"

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
camino.workspace = true
cargo_metadata.workspace = true
clap.workspace = true
dev-tools-common.workspace = true
futures.workspace = true
hex.workspace = true
illumos-utils.workspace = true
indent_write.workspace = true
indicatif.workspace = true
omicron-workspace-hack.workspace = true
omicron-zone-package.workspace = true
oxide-tokio-rt.workspace = true
petgraph.workspace = true
rayon.workspace = true
reqwest = { workspace = true, features = [ "rustls-tls" ] }
ring.workspace = true
semver.workspace = true
serde.workspace = true
shell-words.workspace = true
sled-hardware.workspace = true
slog.workspace = true
slog-async.workspace = true
slog-bunyan.workspace = true
slog-term.workspace = true
smf.workspace = true
strum.workspace = true
tar.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = [ "full" ] }
toml.workspace = true
walkdir.workspace = true

[dev-dependencies]
expectorate.workspace = true

# Disable doc builds by default for our binaries to work around issue
# rust-lang/cargo#8373.  These docs would not be very useful anyway.
[[bin]]
name = "omicron-package"
doc = false
