[package]
name = "omicron-package"
description = "Tools for building and installing Omicron packages"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[dependencies]
anyhow.workspace = true
clap.workspace = true
futures.workspace = true
hex.workspace = true
indicatif.workspace = true
omicron-common = { path = "../common" }
omicron-sled-agent = { path = "../sled-agent" }
omicron-zone-package.workspace = true
rayon.workspace = true
reqwest = { workspace = true, default-features = false, features = ["rustls-tls"] }
ring.workspace = true
serde.workspace = true
serde_derive.workspace = true
slog.workspace = true
slog-async.workspace = true
slog-term.workspace = true
smf.workspace = true
tar.workspace = true
tempfile.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = [ "full" ] }
toml.workspace = true
walkdir.workspace = true

# Disable doc builds by default for our binaries to work around issue
# rust-lang/cargo#8373.  These docs would not be very useful anyway.
[[bin]]
name = "omicron-package"
doc = false
