[package]
name = "omicron-package"
description = "Tools for building and installing Omicron packages"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[dependencies]
anyhow = "1.0"
clap = { version = "3.2", features = ["derive"] }
futures = "0.3.21"
hex = "0.4.3"
indicatif = { version = "0.16.2", features = ["rayon"] }
omicron-common = { path = "../common" }
omicron-sled-agent = { path = "../sled-agent" }
omicron-zone-package = { version = "0.2.1" }
rayon = "1.5"
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls"] }
ring = "0.16"
serde = { version = "1.0", features = [ "derive" ] }
serde_derive = "1.0"
smf = "0.2"
tar = "0.4"
tempfile = "3.3"
thiserror = "1.0"
tokio = { version = "1.18", features = [ "full" ] }
toml = "0.5.9"
walkdir = "2.3"

# Disable doc builds by default for our binaries to work around issue
# rust-lang/cargo#8373.  These docs would not be very useful anyway.
[[bin]]
name = "omicron-package"
doc = false
