[package]
name = "internal-dns"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[dependencies]
anyhow = "1.0"
clap = { version = "3.1", features = [ "derive" ] }
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "main", features = [ "usdt-probes" ] }
pretty-hex = "0.2.1"
schemars = "0.8"
serde = { version = "1.0", features = [ "derive" ] }
serde_json = "1.0"
sled = "0.34"
slog = { version = "2.5.0", features = [ "max_level_trace", "release_max_level_debug" ] }
slog-term = "2.7"
slog-async = "2.7"
slog-envlogger = "2.2"
structopt = "0.3"
tempdir = "0.3"
tokio = { version = "1.17", features = [ "full" ] }
toml = "0.5"
trust-dns-proto = "0.21"
trust-dns-server = "0.21"

[dev-dependencies]
expectorate = "1.0.4"
internal-dns-client = { path = "../internal-dns-client" }
omicron-test-utils = { path = "../test-utils" }
openapiv3 = "1.0"
openapi-lint = { git = "https://github.com/oxidecomputer/openapi-lint", branch = "main" }
portpicker = "0.1"
serde_json = "1.0"
subprocess = "0.2.8"
trust-dns-resolver = "0.21"
