[package]
name = "internal-dns"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[dependencies]
anyhow.workspace = true
clap.workspace = true
internal-dns-client = { path = "../internal-dns-client" }
dropshot.workspace = true
pretty-hex.workspace = true
schemars.workspace = true
serde.workspace = true
serde_json.workspace = true
sled.workspace = true
slog.workspace = true
slog-term.workspace = true
slog-async.workspace = true
slog-envlogger.workspace = true
tempdir.workspace = true
tokio = { workspace = true, features = [ "full" ] }
toml.workspace = true
trust-dns-proto.workspace = true
trust-dns-server.workspace = true
trust-dns-client.workspace = true

[dev-dependencies]
expectorate.workspace = true
omicron-test-utils = { path = "../test-utils" }
openapiv3.workspace = true
openapi-lint.workspace = true
serde_json.workspace = true
subprocess.workspace = true
trust-dns-resolver.workspace = true
