[package]
name = "internal-dns"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
chrono.workspace = true
dns-service-client.workspace = true
futures.workspace = true
hyper.workspace = true
omicron-common = { workspace = true, optional = true }
omicron-common-external.workspace = true
omicron-uuid-kinds.workspace = true
reqwest = { workspace = true, features = ["rustls-tls", "stream"] }
slog.workspace = true
thiserror.workspace = true
hickory-resolver.workspace = true
uuid.workspace = true
omicron-workspace-hack.workspace = true

[dev-dependencies]
assert_matches.workspace = true
dropshot.workspace = true
dns-server.workspace = true
expectorate.workspace = true
omicron-test-utils.workspace = true
progenitor.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
sled.workspace = true
tempfile.workspace = true
tokio = { workspace = true, features = [ "full" ] }

[features]
omicron-internal = ["dep:omicron-common"]
