[package]
name = "nexus-sled-agent-shared-migrations"
version = "0.1.0"
edition.workspace = true

[lints]
workspace = true

[dependencies]
camino.workspace = true
chrono.workspace = true
daft.workspace = true
iddqd.workspace = true
illumos-utils.workspace = true
indent_write.workspace = true
omicron-common.workspace = true
omicron-passwords.workspace = true
omicron-uuid-kinds.workspace = true
omicron-workspace-hack.workspace = true
schemars.workspace = true
serde.workspace = true
serde_json.workspace = true
sled-hardware-types.workspace = true
thiserror.workspace = true
tufaceous-artifact.workspace = true
uuid.workspace = true
