#
# Configuration for GitHub-based CI, based on the stock GitHub Rust config.
#
name: Rust

on: [ push, pull_request ]

jobs:
  check-style:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      with:
        ref: ${{ github.event.pull_request.head.sha }} # see omicron#4461
    - name: Report cargo version
      run: cargo --version
    - name: Report rustfmt version
      run: cargo fmt -- --version
    - name: Check style
      run: cargo fmt -- --check

  check-omicron-deployment:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-22.04, macos-12 ]
    steps:
    # This repo is unstable and unnecessary: https://github.com/microsoft/linux-package-repositories/issues/34
    - name: Disable packages.microsoft.com repo
      run: sudo rm -f /etc/apt/sources.list.d/microsoft-prod.list
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      with:
        ref: ${{ github.event.pull_request.head.sha }} # see omicron#4461
    - uses: Swatinem/rust-cache@3cf7f8cc28d1b4e7d01e3783be10a97d55d483c8 # v2.7.1
      if: ${{ github.ref != 'refs/heads/main' }}
    - name: Report cargo version
      run: cargo --version
    - name: Update PATH
      run: source "./env.sh"; echo "PATH=$PATH" >> "$GITHUB_ENV"
    - name: Print PATH
      run: echo $PATH
    - name: Print GITHUB_ENV
      run: cat "$GITHUB_ENV"
    - name: Install Pre-Requisites
      run: ./tools/install_builder_prerequisites.sh -y
    - name: Set default target
      run: cargo run --bin omicron-package -- -t default target create -r single-sled
    - name: Check build of deployed Omicron packages
      run: cargo run --bin omicron-package -- -t default check

  # Note that `cargo clippy` includes `cargo check, so this ends up checking all
  # of our code.
  clippy-lint:
    runs-on: ubuntu-22.04
    steps:
    # This repo is unstable and unnecessary: https://github.com/microsoft/linux-package-repositories/issues/34
    - name: Disable packages.microsoft.com repo
      run: sudo rm -f /etc/apt/sources.list.d/microsoft-prod.list
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      with:
        ref: ${{ github.event.pull_request.head.sha }} # see omicron#4461
    - uses: Swatinem/rust-cache@3cf7f8cc28d1b4e7d01e3783be10a97d55d483c8 # v2.7.1
      if: ${{ github.ref != 'refs/heads/main' }}
    - name: Report cargo version
      run: cargo --version
    - name: Report Clippy version
      run: cargo clippy -- --version
    - name: Update PATH
      run: source "./env.sh"; echo "PATH=$PATH" >> "$GITHUB_ENV"
    - name: Print PATH
      run: echo $PATH
    - name: Print GITHUB_ENV
      run: cat "$GITHUB_ENV"
    - name: Install Pre-Requisites
      run: ./tools/install_builder_prerequisites.sh -y
    - name: Run Clippy Lints
      run: cargo xtask clippy

  # This is just a test build of docs.  Publicly available docs are built via
  # the separate "rustdocs" repo.
  build-docs:
    runs-on: ubuntu-22.04
    steps:
    # This repo is unstable and unnecessary: https://github.com/microsoft/linux-package-repositories/issues/34
    - name: Disable packages.microsoft.com repo
      run: sudo rm -f /etc/apt/sources.list.d/microsoft-prod.list
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      with:
        ref: ${{ github.event.pull_request.head.sha }} # see omicron#4461
    - uses: Swatinem/rust-cache@3cf7f8cc28d1b4e7d01e3783be10a97d55d483c8 # v2.7.1
      if: ${{ github.ref != 'refs/heads/main' }}
    - name: Report cargo version
      run: cargo --version
    - name: Update PATH
      run: source "./env.sh"; echo "PATH=$PATH" >> "$GITHUB_ENV"
    - name: Print PATH
      run: echo $PATH
    - name: Print GITHUB_ENV
      run: cat "$GITHUB_ENV"
    - name: Install Pre-Requisites
      run: ./tools/install_builder_prerequisites.sh -y
    - name: Test build documentation
      run: RUSTDOCFLAGS="-Dwarnings" cargo doc
