name: validate-openapi-spec
on:
  pull_request:
    paths:
      - .github/workflows/validate-openapi-spec.yml
      - openapi/*
  workflow_dispatch:
    inputs:
jobs:
  format:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ github.event.pull_request.head.sha }} # see omicron#4461
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: '18'
      - name: Install our tools
        shell: bash
        run: |
          npm install -g @apidevtools/swagger-cli
      - name: Run validation
        shell: bash
        run: |
          for spec in openapi/*.json; do
            swagger-cli validate $spec || exit
          done
