name: validate-openapi-spec
on:
  pull_request:
    paths:
      - .github/workflows/validate-openapi-spec.yml
      - openapi/*
  workflow_dispatch:
    inputs:
jobs:
  format:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3.5.0
      - uses: actions/setup-node@v2.5.2
        with:
          node-version: '14'
      - name: Install our tools
        shell: bash
        run: |
          npm install -g @apidevtools/swagger-cli
      - name: Run validation
        shell: bash
        run: |
          for spec in openapi/*.json; do
            swagger-cli validate $spec || exit
          done
